---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (elektronisk identitetsverifisering)
description: eIDV (Electronic Identity Verification) er bruk av offentlige og private databaser for raskt å bekrefte om en person er den de utgir seg for å være.
---

# eIDV (elektronisk identitetsverifisering)
## Hva er eIDV (elektronisk identitetsverifisering)

eIDV (Electronic Identity Verification) bruker offentlig tilgjengelige data så vel som private databaser for raskt å verifisere identiteten til en person. eIDV bruker personlig informasjon som navn, fødselsdato, personnummer og adresse blant andre datafelt. Resultatet av et eIDV-søk på en persons identitet kan resultere i et samsvar, ikke-match eller delvis samsvar.

## Bryte ned eIDV

eIDV brukes av banker, meglerfirmaer, finansielle rådgivere og regnskapsførere for å minimere svindel og overholde [kjenn-din- kunde-](/knowyourclient) [lover](/knowyourclient),. personvernlover, lover [mot hvitvasking av penger](/aml) og lover om [bekjempelse av finansiering av terrorisme (CFT)](/combating-financing-terrorism-cft). eIDV er også brukt av forsikringsselskaper, myndigheter, forhandlere, kasinoer, advokater , arbeidsgivere, jobbrekrutterere og eiendomsmeglere som en del av deres [due diligence-](/duediligence) prosesser.

## eIDV i bruk

Elektronisk identitetsbekreftelse matcher dataene gitt av en person, for eksempel navn, fødselsdato, adresse og SSN, mot ulike databaser for å avgjøre om det er samsvar.

- Personlige dokumenter som kan tjene som datakilder for verifiseringstjenesten inkluderer førerkort, pass, fødselsattester og statsborgerskapsattester.

- Ulike typer databaser, både offentlige og proprietære, kan brukes i eIDV, inkludert kredittbyrådata, politidata og kjøretøyhistorikkdata.

– Data som kan brukes som verifikasjonskilder inkluderer adresseendringsdata, postdata, data om eiendomseierskap, direktemarkedsføringsdata, kredittbyrådata, manntallsdata, forsyningsdata (f.eks. telefon, naturgass, elektrisitet og/eller vann tjeneste), telekommunikasjonsdata og offentlige data (som førerkort, pass, nasjonalt ID og personnummer).

## eIDV-fordeler

Selv om det er en kostnad forbundet med å bekrefte en persons identitet, kan det være rimeligere i det lange løp å unngå å gjøre forretninger med enkeltpersoner som utgir seg for å være noen de ikke er. For eksempel kan eIDV oppdage potensiell svindel hvis et personnummer oppgitt av en potensiell kunde kommer tilbake som tilhørende en avdød person. eIDV kan også brukes til å identifisere potensielle kunder som er på internasjonale overvåkningslister som individer som er politisk utsatt, på regjeringens sanksjonslister eller mistenkt eller dømt for økonomisk kriminalitet .

eIDV kan brukes ikke bare til å verifisere nye kunder, men også for å holde seg oppdatert på eksisterende kunder. Bedrifter må kanskje følge ulike kundeverifiseringsprosedyrer avhengig av deres bransje og deres virksomhetsland. Bedrifter betaler penger for eIDV-tjenester basert på antall og typer databaser som søkes for å bekrefte en persons identitet.

## Andre hensyn

For at en eIDV-tjeneste skal være effektiv, må den stole på en mest mulig oppdatert og høykvalitets database. Noen databaser kan være mer nøyaktige enn andre avhengig av om de oppdateres daglig, ukentlig, månedlig eller kvartalsvis. Videre vil suksessen til et søk delvis avhenge av hvor omfattende en database er. Selv i et best-case scenario, kan en database bare dekke omtrent 80 % av et lands befolkning.

##Høydepunkter

- eIDV bruker både offentlige og private datakilder for å matche individer basert på flere kriterier, inkludert navn, kjønn, adresse, fødselsdato og så videre.

– eIDV brukes i økende grad i finansbransjen av rettshåndhevelse for å oppdage og forhindre økonomisk kriminalitet og for å bekjempe terrorisme. Det brukes også av privat sektor av blant annet forsikringsselskaper, eiendomsmeglere og ansettelsesagenter.

– eIDV står for Electronic Identity Verification, som i store trekk refererer til datastyrte systemer for individuell ID-verifisering.

