---
keywords: Crypto
title: Formell verifisering
description: formell verifisering. Bruke matematisk strenge bevis for å sikre visse egenskaper til kryptografiske algoritmer og blokkjedemekanismer
---

# Formell verifisering
Bruke matematisk strenge bevis for å sikre visse egenskaper til kryptografiske algoritmer og blokkjedemekanismer

