---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Tredjepartsverifisering (TPV)
description: Et selskap kan bruke en ekstern organisasjon til å utføre en tredjepartsverifisering (TPV) for å gjennomgå og bekrefte en kundes informasjon og sikre nøyaktighet.
---

# Tredjepartsverifisering (TPV)
## Hva er tredjepartsverifisering (TPV)?

Et selskap kan bruke en ekstern organisasjon til å utføre en tredjepartsverifisering (TPV) for å gjennomgå og bekrefte en kundes informasjon og intensjoner og dermed sikre nøyaktighet. Tredjepartsverifisering brukes med salgsavdelinger for å verifisere at en potensiell kunde har interesse i eller godtar å kjøpe et produkt før kunden sender tilbake eller videre til en selger. TPV brukes også i situasjoner der en kunde ønsker å gi eller oppdatere informasjon, men ikke uten videre kan levere en kontrakt eller fysisk kopi av denne informasjonen fordi oppdateringen skjer over telefon eller online.

## Forstå tredjepartsverifisering (TPV)

Tredjepartsverifisering lar et selskap referere til interaksjonshistorikken som vedlikeholdes av en uavhengig tredjepart i tilfelle en kunde hevder at de ikke har autorisert en kontoendring eller -transaksjon. For å gå ut av verifiseringsprosessen må kunden godta å samtykke til en transaksjon som skal finne sted, noe som viser at avtalen er juridisk bindende.

Tredjepartsverifisering er noen ganger påkrevd ved lov, spesielt med økende gransking av Internett-sikkerhet og [ikke-ring-telefonlister](/telemarketing). For eksempel krever endringer i telekom eller verktøy (som elektrisitet eller gasstjenester) TPV per Federal Trade Commission.

I dag er tredjepartsverifisering standardprosessen for alle transaksjoner som skjer over telefon eller i et digitalt format der en signatur eller bekreftelse ikke kan sikres. I 2018 vedtok Federal Communications Commission en ny regel for å styrke sin TPV-prosess etter at det var påstander om uriktige anrop og uredelige tredjeparts godkjenningsprosesser.

## Eksempel på tredjepartsverifisering (TPV)

Et eksempel på tredjepartsverifisering kan være når en kunde snakker med en kabel-TV-selger for å gjøre endringer i en plan. Etter å ha gjennomgått alternativene og bestemt at kunden ønsker å fortsette, og vil godta en ny kontrakt for en periode, vil selgeren møte en tredjepart. TPV kan bare være en tidsbestemt og sporet opptakstjeneste som er en separat enhet fra kabelselskapet. Salgsrepresentanten vil deretter gjennomgå endringene og kundens personopplysninger og få dem muntlig til å godta den nye kontrakten på den registrerte linjen.

## Høydepunkter

– TPV lar et selskap referere til interaksjonshistorikken som vedlikeholdes av en uavhengig tredjepart i tilfelle en kunde hevder at de ikke har autorisert en kontoendring eller transaksjon.

– Tredjepartsverifisering (TPV) er når et selskap bruker en ekstern organisasjon til å gjennomgå og bekrefte en kundes informasjon og intensjoner for å sikre nøyaktighet.

– TPV brukes også i situasjoner der en kunde ønsker å gi eller oppdatere informasjon, men ikke uten videre kan levere en kontrakt eller fysisk kopi av denne informasjonen.

– Et eksempel på TPV vil være når en kunde snakker med en kabel-TV-selger for å gjøre endringer i en plan, som en TPV vil verifisere eller ta opp.

– TPV er noen ganger lovpålagt, spesielt med økende gransking av internettsikkerhet og ikke-ring telefonlister.

