---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Verifica elettronica dell&#39;identità)
description: eIDV (Electronic Identity Verification) è l&#39;uso di database pubblici e privati per confermare rapidamente se un individuo è chi afferma di essere.
---

# eIDV (Verifica elettronica dell'identità)
## Che cos'è eIDV (Verifica elettronica dell'identità)

eIDV (Electronic Identity Verification) utilizza dati pubblicamente disponibili e database privati per verificare rapidamente l'identità di un individuo. eIDV utilizza informazioni personali come nome, data di nascita, numero di previdenza sociale e indirizzo tra gli altri campi di dati. Il risultato di una ricerca eIDV sull'identità di un individuo potrebbe comportare una corrispondenza, una mancata corrispondenza o una corrispondenza parziale.

## Scomposizione dell'eIDV

eIDV è utilizzato da banche, società di intermediazione, consulenti finanziari e contabili per ridurre al minimo le frodi e rispettare [le](/knowyourclient) [leggi sui clienti](/knowyourclient),. le leggi sulla privacy, le leggi [antiriciclaggio](/aml) e le leggi sulla [lotta al finanziamento del terrorismo (CFT)](/combating-financing-terrorism-cft).﻿eIDV è utilizzato anche da compagnie assicurative, governi, rivenditori, casinò, avvocati , datori di lavoro, reclutatori di lavoro e agenti immobiliari come parte dei loro processi di [due diligence .](/duediligence)

## eIDV in uso

La verifica dell'identità elettronica confronta i dati forniti da un individuo, come nome, data di nascita, indirizzo e SSN, con vari database per determinare se c'è una corrispondenza.

- I documenti personali che possono fungere da fonti di dati per il servizio di verifica includono patenti di guida, passaporti, certificati di nascita e certificati di cittadinanza.

- Vari tipi di database, sia pubblici che proprietari, possono essere utilizzati in eIDV, inclusi i dati delle agenzie di credito, i dati della polizia e i dati sulla storia del veicolo.

- I dati che possono essere utilizzati come fonti di verifica includono i dati relativi al cambio di indirizzo, i dati postali, i dati sulla proprietà della proprietà, i dati di marketing diretto, i dati dell'agenzia di credito, i dati delle liste elettorali, i dati delle utenze (ad es. telefono, gas naturale, elettricità e/o acqua servizio), registri delle telecomunicazioni e dati governativi (come patente di guida, passaporto, carta d'identità nazionale e numeri di assicurazione nazionale).

## Vantaggi eIDV

Sebbene vi sia un costo associato alla verifica dell'identità di un individuo, a lungo termine può essere meno costoso evitare di fare affari con individui che fingono di essere qualcuno che non sono. Ad esempio, eIDV può rilevare potenziali frodi se un numero di previdenza sociale fornito da un potenziale cliente torna come appartenente a un individuo deceduto. L'eIDV può essere utilizzato anche per identificare potenziali clienti che si trovano nelle liste di controllo internazionali come individui politicamente esposti, negli elenchi delle sanzioni governative o sospettati o condannati per reati finanziari .

eIDV può essere utilizzato non solo per verificare nuovi clienti ma anche per rimanere aggiornato sui clienti esistenti. Le aziende potrebbero dover seguire diverse procedure di verifica dei clienti a seconda della linea di attività e del paese in cui operano. Le aziende pagano per i servizi eIDV in base al numero e ai tipi di database cercati per verificare l'identità di un individuo.

## Altre considerazioni

Affinché un servizio eIDV sia efficace, deve fare affidamento sul database più aggiornato e di alta qualità possibile. Alcuni database possono essere più accurati di altri a seconda che vengano aggiornati quotidianamente, settimanalmente, mensilmente o trimestralmente. Inoltre, il successo di una ricerca dipenderà in parte dalla completezza di un database. Anche nel migliore dei casi, un database può coprire solo l'80% circa della popolazione di un paese.

## Mette in risalto

- eIDV utilizza fonti di dati sia pubbliche che private per confrontare le persone in base a diversi criteri tra cui nome, sesso, indirizzo, data di nascita e così via.

- eIDV è sempre più utilizzato nel settore finanziario dalle forze dell'ordine per individuare e prevenire i reati finanziari e per combattere il terrorismo. Viene anche utilizzato dal settore privato da assicuratori, agenti immobiliari e agenti di noleggio, tra gli altri.

- eIDV sta per Electronic Identity Verification, che si riferisce in generale ai sistemi informatici per la verifica dell'identità individuale.

