---
keywords: Crypto
title: Verifica formale
description: Verifica formale. Utilizzo di prove matematicamente rigorose per garantire determinate proprietà di algoritmi crittografici e meccanismi blockchain
---

# Verifica formale
Utilizzo di prove matematicamente rigorose per garantire determinate proprietà di algoritmi crittografici e meccanismi blockchain

