---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Verifica di terze parti (TPV)
description: Un&#39;azienda può utilizzare un&#39;organizzazione esterna per eseguire una verifica di terze parti (TPV) per esaminare e confermare le informazioni di un cliente e garantirne l&#39;accuratezza.
---

# Verifica di terze parti (TPV)
## Che cos'è la verifica di terze parti (TPV)?

Un'azienda può utilizzare un'organizzazione esterna per eseguire una verifica di terze parti (TPV) per rivedere e confermare le informazioni e le intenzioni di un cliente e quindi garantire l'accuratezza. La verifica di terze parti viene utilizzata con i reparti vendite per verificare che un potenziale cliente abbia un interesse o accetti di acquistare un prodotto prima di ritrasmettere il cliente a un venditore. TPV viene utilizzato anche in situazioni in cui un cliente desidera fornire o aggiornare informazioni ma non può consegnare prontamente un contratto o una copia fisica di tali informazioni perché l'aggiornamento avviene per telefono o online.

## Comprensione della verifica di terze parti (TPV)

La verifica di terze parti consente a un'azienda di fare riferimento alla cronologia delle interazioni gestita da una terza parte indipendente nel caso in cui un cliente affermi di non aver autorizzato una modifica dell'account o una transazione. Per uscire dal processo di verifica, il cliente deve accettare di acconsentire a una transazione che sta per aver luogo, il che dimostra che l'accordo è legalmente vincolante.

La verifica di terze parti è talvolta richiesta dalla legge, in particolare con il controllo crescente della sicurezza di Internet e [degli elenchi telefonici da non chiamare](/telemarketing). Ad esempio, qualsiasi modifica alle telecomunicazioni o ai servizi di pubblica utilità (come servizi di elettricità o gas) richiede TPV secondo la Federal Trade Commission.

Al giorno d'oggi, la verifica di terze parti è il processo standard per tutte le transazioni che avvengono al telefono o in un formato digitale in cui non è possibile garantire una firma o una conferma. Nel 2018, la Federal Communications Commission ha approvato una nuova regola per rafforzare il suo processo TPV dopo che vi erano state denunce di chiamate travisate e processi di approvazione fraudolenti di terze parti.

## Esempio di verifica di terze parti (TPV)

Un esempio di verifica di terze parti potrebbe essere quando un cliente parla con un rappresentante di vendita di una televisione via cavo per apportare modifiche a un piano. Dopo aver esaminato le opzioni e aver stabilito che il cliente desidera procedere e accetterà un nuovo contratto per un periodo di tempo, il rappresentante di vendita si rivolgerà a una terza parte. Il TPV potrebbe essere solo un servizio di registrazione a tempo e tracciato che è un'entità separata dalla società via cavo. Il rappresentante di vendita esaminerà quindi le modifiche e le informazioni personali del cliente e gli farà accettare verbalmente il nuovo contratto sulla linea registrata.

## Mette in risalto

- TPV consente a un'azienda di fare riferimento alla cronologia delle interazioni gestita da una terza parte indipendente nel caso in cui un cliente affermi di non aver autorizzato una modifica dell'account o una transazione.

- La verifica di terze parti (TPV) è quando un'azienda utilizza un'organizzazione esterna per rivedere e confermare le informazioni e le intenzioni di un cliente per garantirne l'accuratezza.

- TPV viene utilizzato anche in situazioni in cui un cliente desidera fornire o aggiornare informazioni ma non può consegnare prontamente un contratto o una copia fisica di tali informazioni.

- Un esempio di TPV potrebbe essere quando un cliente parla con un rappresentante di vendita di una televisione via cavo per apportare modifiche a un piano, per il quale un TPV verificherà o registrerà.

- Il TPV è talvolta richiesto dalla legge, soprattutto con il controllo crescente della sicurezza di Internet e degli elenchi telefonici da non chiamare.

