---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (rafræn auðkennissannprófun)
description: eIDV (Electronic Identity Verification) er notkun opinberra og einkagagnagrunna til að staðfesta fljótt hvort einstaklingur sé sá sem hann segist vera.
---

# eIDV (rafræn auðkennissannprófun)
## Hvað er eIDV (rafræn auðkennissannprófun)

eIDV (Electronic Identity Verification) notar opinberlega aðgengileg gögn sem og einkagagnagrunna til að sannreyna fljótt hver einstaklingur er. eIDV notar persónuupplýsingar eins og nafn, fæðingardag, kennitölu og heimilisfang meðal annarra gagnasviða. Niðurstaða eIDV leit á auðkenni einstaklings gæti leitt til samsvörunar, ósamsvörunar eða að hluta.

## Að brjóta niður eIDV

eIDV er notað af bönkum, verðbréfafyrirtækjum, fjármálaráðgjöfum og endurskoðendum til að lágmarka svik og fara eftir [lögum um „](/knowyourclient) [þekkja-þinn- viðskiptavin](/knowyourclient) “, persónuverndarlög, lög [gegn peningaþvætti](/aml) og lögum [um að berjast gegn fjármögnun hryðjuverka (CFT)](/combating-financing-terrorism-cft). eIDV er einnig notað af tryggingafélögum, stjórnvöldum, smásöluaðilum, spilavítum, lögfræðingum , vinnuveitendum, ráðningaraðilum og fasteignasölum sem hluta af [áreiðanleikakönnunarferli](/duediligence) þeirra.

## eIDV í notkun

Rafræn auðkennisstaðfesting samsvarar gögnum sem einstaklingur gefur upp, svo sem nafn, fæðingardag, heimilisfang og SSN, við ýmsa gagnagrunna til að ákvarða hvort það sé samsvörun.

- Persónuleg skjöl sem geta þjónað sem uppsprettur gagna fyrir sannprófunarþjónustuna eru ökuskírteini, vegabréf, fæðingarvottorð og ríkisborgararétt.

- Hægt er að nota ýmsar gerðir gagnagrunna, bæði opinbera og séreigna, í eIDV, þar á meðal gögn lánastofnana, lögreglugögn og gögn um ökutæki.

- Gögn sem hægt er að nota sem sannprófunaruppsprettur eru gögn um heimilisfangabreytingar, póstupplýsingar, eignarhaldsgögn, gögn um beina markaðssetningu, gögn lánastofnana, gögn um kjörskrá, gögn um veitu (td síma, jarðgas, rafmagn og/eða vatn þjónusta), fjarskiptaskrár og opinber gögn (svo sem ökuskírteini, vegabréf, kennitölur og almannatrygginganúmer).

## Kostir eIDV

Þó að það sé kostnaður sem fylgir því að sannreyna hver einstaklingur er, getur það verið ódýrara til lengri tíma litið að forðast að eiga viðskipti við einstaklinga sem þykjast vera einhver sem þeir eru ekki. Til dæmis getur eIDV greint hugsanleg svik ef kennitala sem væntanleg viðskiptavinur gefur upp kemur aftur sem tilheyrandi látnum einstaklingi. eIDV er einnig hægt að nota til að bera kennsl á væntanlega viðskiptavini sem eru á alþjóðlegum eftirlitslistum sem einstaklinga sem eru pólitískt afhjúpaðir, á refsiaðgerðalistum stjórnvalda eða grunaðir eða dæmdir fyrir fjármálaglæpi .

eIDV er ekki aðeins hægt að nota til að staðfesta nýja viðskiptavini heldur einnig til að fylgjast með núverandi viðskiptavinum. Fyrirtæki gætu þurft að fylgja mismunandi sannprófunarferlum viðskiptavina, allt eftir viðskiptasviði þeirra og starfslandi. Fyrirtæki greiða peninga fyrir eIDV þjónustu byggt á fjölda og gerðum gagnagrunna sem leitað er að til að staðfesta auðkenni einstaklings.

## Önnur atriði

Til þess að eIDV þjónusta sé árangursrík verður hún að treysta á uppfærðasta og hágæða gagnagrunninum sem mögulegt er. Sumir gagnagrunnar geta verið nákvæmari en aðrir eftir því hvort þeir eru uppfærðir daglega, vikulega, mánaðarlega eða ársfjórðungslega. Ennfremur mun árangur leit að hluta til ráðast af því hversu umfangsmikill gagnagrunnur er. Jafnvel í besta falli getur gagnagrunnur aðeins tekið til um 80% íbúa lands.

##Hápunktar

- eIDV notar bæði opinberar og persónulegar gagnaheimildir til að passa einstaklinga út frá nokkrum forsendum, þar á meðal nafni, kyni, heimilisfangi, fæðingardegi og svo framvegis.

- eIDV er í auknum mæli notað í fjármálageiranum af löggæslu til að uppgötva og koma í veg fyrir fjármálaglæpi og til að berjast gegn hryðjuverkum. Það er einnig notað af einkageiranum af vátryggjendum, fasteignasala og ráðningum, meðal annarra.

- eIDV stendur fyrir Electronic Identity Verification, sem vísar í stórum dráttum til tölvutækra kerfa til sannprófunar á einstaklingum.

