---
keywords: Crypto
title: Formleg staðfesting
description: formlega staðfestingu. Nota stærðfræðilega strangar sannanir til að tryggja ákveðna eiginleika dulmáls reiknirit og blockchain kerfi
---

# Formleg staðfesting
Nota stærðfræðilega strangar sannanir til að tryggja ákveðna eiginleika dulmáls reiknirit og blockchain kerfi

