---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Staðfesting þriðja aðila (TPV)
description: Fyrirtæki getur notað utanaðkomandi stofnun til að framkvæma sannprófun þriðja aðila (TPV) til að skoða og staðfesta upplýsingar viðskiptavinar og tryggja nákvæmni.
---

# Staðfesting þriðja aðila (TPV)
## Hvað er staðfesting þriðja aðila (TPV)?

Fyrirtæki getur notað utanaðkomandi stofnun til að framkvæma sannprófun þriðja aðila (TPV) til að skoða og staðfesta upplýsingar og fyrirætlanir viðskiptavinar og tryggja þannig nákvæmni. Staðfesting þriðja aðila er notuð með söludeildum til að sannreyna að hugsanlegur viðskiptavinur hafi hagsmuni af eða samþykkir að kaupa vöru áður en hann sendir viðskiptavininn til baka eða áfram til sölumanns. TPV er einnig notað í aðstæðum þar sem viðskiptavinur vill veita eða uppfæra upplýsingar en getur ekki auðveldlega afhent samning eða afrit af þeim upplýsingum vegna þess að uppfærslan á sér stað í gegnum síma eða á netinu.

## Skilningur á staðfestingu þriðja aðila (TPV)

Sannprófun þriðju aðila gerir fyrirtæki kleift að vísa til samskiptasögu sem óháður þriðji aðili heldur utan um ef viðskiptavinur heldur því fram að hann hafi ekki heimilað að reikningsbreyting eða viðskipti eigi sér stað. Til þess að komast út úr sannprófunarferlinu þarf viðskiptavinurinn að samþykkja viðskipti sem eiga sér stað, sem sýnir að samningurinn er lagalega bindandi.

Stundum er krafist sannprófunar þriðja aðila samkvæmt lögum, sérstaklega með aukinni skoðun á öryggi á netinu og [ekki hringja símalistum](/telemarketing). Til dæmis, allar breytingar á fjarskiptum eða veitu (svo sem rafmagns- eða gasþjónustu) krefjast TPV samkvæmt Federal Trade Commission.

Nú á dögum er staðfesting þriðja aðila staðlað ferli fyrir öll viðskipti sem eiga sér stað í gegnum síma eða á stafrænu formi þar sem ekki er hægt að tryggja undirskrift eða staðfestingu. Árið 2018 samþykkti alríkissamskiptanefndin nýja reglu til að styrkja TPV-ferlið sitt eftir að það voru fullyrðingar um rangar framsetningar símtöl og sviksamleg samþykkisferli þriðja aðila.

## Dæmi um staðfestingu þriðja aðila (TPV)

Dæmi um sannprófun þriðja aðila væri þegar viðskiptavinur talar við sölufulltrúa kapalsjónvarps til að gera breytingar á áætlun. Eftir að hafa farið yfir valkosti og ákveðið að viðskiptavinurinn vilji halda áfram og muni samþykkja nýjan samning í ákveðinn tíma mun sölufulltrúinn funda með þriðja aðila. TPV gæti bara verið tímasett og rakin upptökuþjónusta sem er aðskilin aðili frá kapalfyrirtækinu. Sölufulltrúinn mun síðan fara yfir breytingarnar og persónulegar upplýsingar viðskiptavinarins og láta hann samþykkja nýja samninginn munnlega á skráðri línu.

## Hápunktar

- TPV gerir fyrirtæki kleift að vísa til samskiptasögunnar sem óháður þriðji aðili hefur viðhaldið ef viðskiptavinur heldur því fram að hann hafi ekki heimilað að reikningsbreyting eða viðskipti færi fram.

- Staðfesting þriðja aðila (TPV) er þegar fyrirtæki notar utanaðkomandi stofnun til að skoða og staðfesta upplýsingar og fyrirætlanir viðskiptavinar til að tryggja nákvæmni.

- TPV er einnig notað í aðstæðum þar sem viðskiptavinur vill veita eða uppfæra upplýsingar en getur ekki auðveldlega afhent samning eða afrit af þeim upplýsingum.

- Dæmi um TPV væri þegar viðskiptavinur talar við sölufulltrúa kapalsjónvarps til að gera breytingar á áætlun, sem TPV mun staðfesta eða taka upp.

- TPV er stundum krafist samkvæmt lögum, sérstaklega með aukinni skoðun á netöryggi og ekki hringja símalistum.

