---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Elektronik Kimlik Doğrulama)
description: eIDV (Elektronik Kimlik Doğrulama), bir kişinin iddia ettiği kişi olup olmadığını hızlı bir şekilde doğrulamak için genel ve özel veritabanlarının kullanılmasıdır.
---

# eIDV (Elektronik Kimlik Doğrulama)
## eIDV (Elektronik Kimlik Doğrulama) nedir

eIDV (Elektronik Kimlik Doğrulama), bir bireyin kimliğini hızlı bir şekilde doğrulamak için kamuya açık verileri ve özel veritabanlarını kullanır. eIDV, diğer veri alanlarının yanı sıra ad, doğum tarihi, Sosyal Güvenlik numarası ve adres gibi kişisel bilgileri kullanır. Bir kişinin kimliği üzerinde yapılan bir eIDV aramasının sonucu, eşleşme, eşleşmeme veya kısmi eşleşme ile sonuçlanabilir.

## eIDV'yi Yıkmak

eIDV, bankalar, aracı kurumlar, mali müşavirler ve muhasebeciler tarafından dolandırıcılığı en aza indirmek ve müşterinizi [tanı](/knowyourclient) [yasalarına](/knowyourclient),. gizlilik yasalarına, [kara para aklamayla mücadele](/aml) yasalarına ve [Terörizmin Finansmanıyla Mücadele (CFT)](/combating-financing-terrorism-cft) yasalarına uymak için kullanılır . sigorta şirketleri, hükümetler, perakendeciler, kumarhaneler, avukatlar , işverenler, işe alım görevlileri ve emlakçılar tarafından [durum tespiti](/duediligence) süreçlerinin bir parçası olarak kullanılır.

## eIDV Kullanımda

Elektronik kimlik doğrulaması, bir eşleşme olup olmadığını belirlemek için bir kişinin sağladığı ad, doğum tarihi, adres ve SSN gibi verileri çeşitli veritabanlarıyla eşleştirir.

- Doğrulama hizmeti için veri kaynağı olarak kullanılabilecek kişisel belgeler arasında sürücü belgeleri, pasaportlar, doğum belgeleri ve vatandaşlık sertifikaları bulunur.

- Kredi bürosu verileri, polis verileri ve araç geçmişi verileri dahil olmak üzere, eIDV'de hem kamuya açık hem de tescilli çeşitli veritabanları kullanılabilir.

- Doğrulama kaynakları olarak kullanılabilecek veriler arasında adres değişikliği, posta verileri, mülk sahipliği verileri, doğrudan pazarlama verileri, kredi bürosu verileri, seçmen kütüğü verileri, kamu hizmetleri verileri (örn. telefon, doğal gaz, elektrik ve/veya su) yer alır. hizmeti), telekomünikasyon kayıtları ve devlet verileri (sürücü belgesi, pasaport, ulusal kimlik ve ulusal sigorta numaraları gibi).

## eIDV Avantajları

Bir kişinin kimliğini doğrulamanın bir maliyeti olsa da, uzun vadede olmadıkları biri gibi davranan kişilerle iş yapmaktan kaçınmak daha ucuz olabilir. Örneğin, eIDV, olası bir müşteri tarafından sağlanan bir Sosyal Güvenlik numarası vefat eden bir kişiye ait olarak geri gelirse olası dolandırıcılığı tespit edebilir. eIDV ayrıca uluslararası izleme listelerinde yer alan, siyasi olarak maruz kalan, hükümet yaptırım listelerinde bulunan veya mali suçlardan şüphelenilen veya hüküm giymiş kişiler olarak yer alan potansiyel müşterileri belirlemek için de kullanılabilir .

eIDV, yalnızca yeni müşterileri doğrulamak için değil, aynı zamanda mevcut müşterilerle ilgili güncel bilgileri almak için de kullanılabilir. İşletmelerin, faaliyet alanlarına ve faaliyet gösterdikleri ülkeye bağlı olarak farklı müşteri doğrulama prosedürleri izlemesi gerekebilir. İşletmeler, bir bireyin kimliğini doğrulamak için aranan veritabanlarının sayısına ve türlerine göre eIDV hizmetleri için para öder.

## Diğer Hususlar

Bir eIDV hizmetinin etkili olması için, mümkün olan en güncel ve yüksek kaliteli veritabanına güvenmesi gerekir. Bazı veritabanları, günlük, haftalık, aylık veya üç ayda bir güncellenmelerine bağlı olarak diğerlerinden daha doğru olabilir. Ayrıca, bir aramanın başarısı kısmen bir veritabanının ne kadar kapsamlı olduğuna bağlı olacaktır. En iyi senaryoda bile, bir veritabanı bir ülke nüfusunun yalnızca yaklaşık %80'ini kapsayabilir.

##Öne çıkanlar

- eIDV, kişileri isim, cinsiyet, adres, doğum tarihi vb. dahil olmak üzere çeşitli kriterlere göre eşleştirmek için hem genel hem de özel veri kaynaklarını kullanır.

- eIDV, mali suçları tespit etmek ve önlemek ve terörle mücadele etmek için kanun uygulayıcılar tarafından finans sektöründe giderek daha fazla kullanılmaktadır. Diğerlerinin yanı sıra özel sektör tarafından sigortacılar, emlakçılar ve işe alım acenteleri tarafından da kullanılmaktadır.

- eIDV, bireysel kimlik doğrulaması için genel olarak bilgisayarlı sistemlere atıfta bulunan Elektronik Kimlik Doğrulaması anlamına gelir.

