---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Üçüncü Taraf Doğrulaması (TPV)
description: Bir şirket, bir müşterinin bilgilerini gözden geçirmek ve onaylamak ve doğruluğundan emin olmak için bir üçüncü taraf doğrulaması (TPV) gerçekleştirmek için bir dış kuruluşu kullanabilir.
---

# Üçüncü Taraf Doğrulaması (TPV)
## Üçüncü Taraf Doğrulama (TPV) Nedir?

Bir şirket, bir müşterinin bilgilerini ve niyetlerini gözden geçirmek ve onaylamak ve böylece doğruluğu sağlamak için bir üçüncü taraf doğrulaması (TPV) gerçekleştirmek için bir dış kuruluşu kullanabilir. Üçüncü taraf doğrulaması, potansiyel bir müşterinin müşteriyi geri veya bir satış görevlisine teslim etmeden önce bir ürünle ilgilendiğini veya bir ürünü satın almayı kabul ettiğini doğrulamak için satış departmanlarıyla birlikte kullanılır. TPV ayrıca, bir müşterinin bilgi sağlamak veya güncellemek istediği, ancak güncelleme telefon veya çevrimiçi olarak gerçekleştiği için bu bilgilerin bir sözleşmesini veya fiziksel kopyasını hemen teslim edemediği durumlarda da kullanılır.

## Üçüncü Taraf Doğrulamayı (TPV) Anlama

Üçüncü taraf doğrulaması, bir müşterinin bir hesap değişikliğine veya işlemin gerçekleşmesine izin vermediğini iddia etmesi durumunda, şirketin bağımsız bir tarafça tutulan etkileşim geçmişine üçüncü bir referans vermesine olanak tanır. Doğrulama sürecinden çıkmak için müşterinin, sözleşmenin yasal olarak bağlayıcı olduğunu gösteren gerçekleşecek bir işleme onay vermeyi kabul etmesi gerekir.

[aranmayan telefon listelerinin](/telemarketing) artan incelemesi nedeniyle bazen yasalarca gereklidir . Örneğin, telekom veya kamu hizmetlerinde (elektrik veya gaz hizmetleri gibi) yapılacak herhangi bir değişiklik, Federal Ticaret Komisyonu'na göre TPV gerektirir.

Günümüzde üçüncü taraf doğrulaması, telefon üzerinden veya dijital formatta gerçekleştirilen ve imza veya onayın güvence altına alınamadığı her türlü işlem için standart işlemdir. 2018'de Federal Üçüncü İletişim Komisyonu, yanlış beyan edilen çağrılar ve dolandırıcı taraf onay süreçleri iddialarının ardından TPV sürecini güçlendirmek için yeni bir kural çıkardı.

## Üçüncü Taraf Doğrulama Örneği (TPV)

Üçüncü taraf doğrulamaya bir örnek, bir müşterinin bir planda değişiklik yapmak için bir kablolu televizyon satış temsilcisiyle konuşması olabilir. Seçenekleri gözden geçirdikten ve müşterinin devam etmek istediğini ve belirli bir süre için yeni bir sözleşmeyi kabul edeceğini belirledikten sonra, satış temsilcisi üçüncü bir tarafla görüşecektir. TPV, kablo şirketinden ayrı bir varlık olan, zamanlanmış ve izlenen bir kayıt hizmeti olabilir. Satış temsilcisi daha sonra değişiklikleri ve müşterinin kişisel bilgilerini gözden geçirecek ve kayıtlı hatta yeni sözleşmeyi sözlü olarak kabul etmelerini sağlayacaktır.

##Öne çıkanlar

- TPV, bir müşterinin bir hesap değişikliğine veya işlemin gerçekleşmesine izin vermediğini iddia etmesi durumunda, şirketin bağımsız bir tarafça tutulan üçüncü etkileşim geçmişine başvurmasına izin verir.

- Üçüncü taraf doğrulaması (TPV), bir şirketin bir müşterinin bilgilerini ve doğruluğunu sağlamak için niyetlerini gözden geçirmek ve onaylamak için bir dış kuruluş kullanmasıdır.

- TPV, bir müşterinin bilgi sağlamak veya güncellemek istediği ancak bu bilgilerin bir sözleşmesini veya fiziksel kopyasını kolayca teslim edemediği durumlarda da kullanılır.

- TPV'nin bir örneği, bir müşterinin bir TPV'nin doğrulayacağı veya kaydedeceği bir planda değişiklik yapmak için kablolu televizyon satış temsilcisiyle konuşmasıdır.

- TPV, özellikle İnternet güvenliği ve aranmayan telefon listelerinin artan incelemesiyle birlikte bazen yasalarca zorunlu tutulmaktadır.

