---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Weryfikacja tożsamości elektronicznej)
description: eIDV (Elektroniczna Weryfikacja Tożsamości) to wykorzystanie publicznych i prywatnych baz danych w celu szybkiego potwierdzenia, czy dana osoba jest tym, za kogo się podaje.
---

# eIDV (Weryfikacja tożsamości elektronicznej)
## Co to jest eIDV (elektroniczna weryfikacja tożsamości)

eIDV (Elektroniczna Weryfikacja Tożsamości) wykorzystuje publicznie dostępne dane oraz prywatne bazy danych do szybkiej weryfikacji tożsamości osoby. eIDV wykorzystuje między innymi dane osobowe, takie jak imię i nazwisko, data urodzenia, numer PESEL i adres. Wynik wyszukiwania eIDV tożsamości osoby może skutkować dopasowaniem, niedopasowaniem lub częściowym dopasowaniem.

## Rozbijanie eIDV

eIDV jest używany przez banki, firmy maklerskie, doradców finansowych i księgowych w celu zminimalizowania oszustw i przestrzegania przepisów dotyczących [znajomości klienta,](/knowyourclient) [przepisów](/knowyourclient) dotyczących prywatności, przepisów dotyczących [przeciwdziałania praniu brudnych pieniędzy](/aml) oraz przepisów dotyczących [zwalczania finansowania terroryzmu (CFT)](/combating-financing-terrorism-cft). wykorzystywane przez firmy ubezpieczeniowe, rządy, sprzedawców detalicznych, kasyna, prawników , pracodawców, osoby rekrutujące do pracy i pośredników w obrocie nieruchomościami w ramach procesów [należytej staranności](/duediligence).

## eIDV w użyciu

Elektroniczna weryfikacja tożsamości dopasowuje dane podane przez osobę, takie jak imię i nazwisko, data urodzenia, adres i SSN, z różnymi bazami danych w celu ustalenia, czy istnieje dopasowanie.

- Dokumenty osobiste, które mogą służyć jako źródło danych dla usługi weryfikacyjnej, obejmują prawa jazdy, paszporty, akty urodzenia i świadectwa obywatelstwa.

- W eIDV można wykorzystywać różne rodzaje baz danych, zarówno publiczne, jak i zastrzeżone, w tym dane z biur kredytowych, dane policyjne i dane dotyczące historii pojazdów.

- Dane, które mogą być wykorzystane jako źródło weryfikacji, obejmują zmianę danych adresowych, pocztowych, własności nieruchomości, danych marketingu bezpośredniego, danych z biur informacji kredytowej, danych z list wyborczych, danych dotyczących mediów (np. telefon, gaz ziemny, prąd i/lub woda usługi), rekordy telekomunikacyjne i dane rządowe (takie jak prawo jazdy, paszport, dowód osobisty i numer ubezpieczenia społecznego).

## Zalety eIDV

Chociaż weryfikacja tożsamości danej osoby wiąże się z pewnymi kosztami, na dłuższą metę unikanie prowadzenia interesów z osobami, które udają kogoś, kim nie są, może być tańsze. Na przykład eIDV może wykryć potencjalne oszustwo, jeśli numer ubezpieczenia społecznego dostarczony przez potencjalnego klienta wróci jako należący do osoby zmarłej. eIDV może być również wykorzystywany do identyfikacji potencjalnych klientów znajdujących się na międzynarodowych listach obserwacyjnych jako osoby eksponowane politycznie, na listach sankcji rządowych lub podejrzanych lub skazanych za przestępstwa finansowe .

eIDV może służyć nie tylko do weryfikacji nowych klientów, ale także do bycia na bieżąco z istniejącymi klientami. Firmy mogą być zmuszone do przestrzegania różnych procedur weryfikacji klienta w zależności od ich branży i kraju, w którym prowadzą działalność. Firmy płacą za usługi eIDV na podstawie liczby i rodzajów baz danych przeszukiwanych w celu weryfikacji tożsamości osoby.

## Inne uwagi

Aby usługa eIDV była skuteczna, musi opierać się na możliwie najbardziej aktualnej i wysokiej jakości bazie danych. Niektóre bazy danych mogą być dokładniejsze niż inne, w zależności od tego, czy są aktualizowane codziennie, co tydzień, co miesiąc czy kwartalnie. Co więcej, powodzenie wyszukiwania będzie częściowo zależeć od tego, jak obszerna jest baza danych. Nawet w najlepszym przypadku baza danych może obejmować tylko około 80% populacji kraju.

##Przegląd najważniejszych wydarzeń

- eIDV wykorzystuje zarówno publiczne, jak i prywatne źródła danych w celu dopasowania osób w oparciu o kilka kryteriów, w tym imię i nazwisko, płeć, adres, datę urodzenia i tak dalej.

- eIDV jest coraz częściej wykorzystywane w branży finansowej przez organy ścigania do wykrywania i zapobiegania przestępstwom finansowym oraz zwalczania terroryzmu. Jest również używany przez sektor prywatny m.in. przez ubezpieczycieli, pośredników w handlu nieruchomościami i pośredników.

- eIDV to skrót od Elektronicznej Weryfikacji Tożsamości, który odnosi się szeroko do skomputeryzowanych systemów indywidualnej weryfikacji tożsamości.

