---
keywords: Crypto
title: Weryfikacja formalna
description: weryfikacja formalna. Wykorzystanie matematycznie rygorystycznych dowodów w celu zapewnienia pewnych właściwości algorytmów kryptograficznych i mechanizmów blockchain
---

# Weryfikacja formalna
Wykorzystanie matematycznie rygorystycznych dowodów w celu zapewnienia pewnych właściwości algorytmów kryptograficznych i mechanizmów blockchain

