---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Weryfikacja przez firmę zewnętrzną (TPV)
description: Firma może skorzystać z usług organizacji zewnętrznej w celu przeprowadzenia weryfikacji przez stronę trzecią (TPV) w celu przejrzenia i potwierdzenia informacji o kliencie oraz zapewnienia dokładności.
---

# Weryfikacja przez firmę zewnętrzną (TPV)
## Co to jest weryfikacja przez firmę zewnętrzną (TPV)?

Firma może skorzystać z zewnętrznej organizacji w celu przeprowadzenia weryfikacji przez stronę trzecią (TPV) w celu przejrzenia i potwierdzenia informacji i intencji klienta, a tym samym zapewnienia dokładności. Weryfikacja przez stronę trzecią jest używana w działach sprzedaży w celu sprawdzenia, czy potencjalny klient jest zainteresowany lub zgadza się na zakup produktu przed przekazaniem klienta z powrotem lub do sprzedawcy. TPV jest również używany w sytuacjach, w których klient chce dostarczyć lub zaktualizować informacje, ale nie może łatwo dostarczyć umowy lub fizycznej kopii tych informacji, ponieważ aktualizacja odbywa się przez telefon lub online.

## Zrozumienie weryfikacji zewnętrznej (TPV)

Weryfikacja przez stronę trzecią pozwala firmie odnieść się do historii interakcji prowadzonej przez niezależną stronę w przypadku, gdy klient twierdzi, że nie autoryzował zmiany konta lub transakcji. Aby wyjść z procesu weryfikacji, klient musi wyrazić zgodę na transakcję, która będzie miała miejsce, co świadczy o tym, że umowa jest prawnie wiążąca.

Weryfikacja przez stronę trzecią jest czasami wymagana przez prawo, zwłaszcza w związku z rosnącą kontrolą bezpieczeństwa w Internecie i [listami telefonów, do których nie należy dzwonić](/telemarketing). Na przykład wszelkie zmiany w telekomunikacji lub usługach użyteczności publicznej (takie jak usługi elektryczne lub gazowe) wymagają TPV zgodnie z Federalną Komisją Handlu.

W dzisiejszych czasach weryfikacja przez stronę trzecią jest standardowym procesem dla wszelkich transakcji przeprowadzanych przez telefon lub w formacie cyfrowym, w przypadku których nie można zabezpieczyć podpisu lub potwierdzenia. W 2018 r. Federalna Trzecia Komisja ds. Komunikacji uchwaliła nową zasadę, aby wzmocnić proces TPV po pojawieniu się roszczeń dotyczących nieprawdziwych połączeń i procesów zatwierdzania oszukańczych stron.

## Przykład weryfikacji przez firmę zewnętrzną (TPV)

Przykładem weryfikacji przez stronę trzecią może być rozmowa klienta z przedstawicielem handlowym telewizji kablowej w celu wprowadzenia zmian w planie. Po zapoznaniu się z opcjami i ustaleniu, że klient chce kontynuować i zaakceptuje nową umowę przez pewien czas, przedstawiciel handlowy nawiąże konferencję z osobą trzecią. TPV może być po prostu usługą nagrywania czasowego i śledzonego, która jest oddzielną jednostką od firmy kablowej. Następnie przedstawiciel handlowy przejrzy zmiany i dane osobowe klienta i poprosi ich ustnie o zgodę na nową umowę na zarejestrowanej linii.

##Przegląd najważniejszych wydarzeń

- TPV umożliwia firmie odwołanie się do historii interakcji prowadzonej przez niezależną stronę w przypadku, gdy klient twierdzi, że nie autoryzował zmiany konta lub transakcji.

- Weryfikacja przez stronę trzecią (TPV) ma miejsce, gdy firma korzysta z zewnętrznej organizacji w celu sprawdzenia i potwierdzenia informacji i intencji klienta w celu zapewnienia dokładności.

- TPV stosuje się również w sytuacjach, w których klient chce dostarczyć lub zaktualizować informacje, ale nie może łatwo dostarczyć umowy lub fizycznej kopii tych informacji.

- Przykładem TPV może być rozmowa klienta z przedstawicielem handlowym telewizji kablowej w celu wprowadzenia zmian w planie, które TPV zweryfikuje lub zarejestruje.

- TPV jest czasami wymagane przez prawo, zwłaszcza w związku z rosnącą kontrolą bezpieczeństwa w Internecie i listami telefonów, do których nie należy dzwonić.

