---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Verificação de Identidade Eletrônica)
description: eIDV (Electronic Identity Verification) é o uso de bancos de dados públicos e privados para confirmar rapidamente se um indivíduo é quem afirma ser.
---

# eIDV (Verificação de Identidade Eletrônica)
## O que é eIDV (Verificação de Identidade Eletrônica)

eIDV (Electronic Identity Verification) faz uso de dados publicamente disponíveis, bem como bancos de dados privados para verificar rapidamente a identidade de um indivíduo. O eIDV usa informações pessoais como nome, data de nascimento, CPF e endereço, entre outros campos de dados. O resultado de uma pesquisa de eIDV na identidade de um indivíduo pode resultar em uma correspondência, não correspondência ou correspondência parcial.

## Detalhamento do eIDV

O eIDV é usado por bancos, corretoras, consultores financeiros e contadores para minimizar fraudes e cumprir as leis [de conhecimento do seu cliente,](/knowyourclient) [leis](/knowyourclient) de privacidade, leis [contra lavagem de dinheiro](/aml) e leis de [Combate ao Financiamento do Terrorismo (CFT](/combating-financing-terrorism-cft) ). usado por companhias de seguros, governos, varejistas, cassinos, advogados , empregadores, recrutadores de emprego e agentes imobiliários como parte de seus processos de [due diligence](/duediligence).

## eIDV em uso

A verificação de identidade eletrônica compara os dados fornecidos por um indivíduo, como nome, data de nascimento, endereço e SSN, com vários bancos de dados para determinar se há correspondência.

- Os documentos pessoais que podem servir como fontes de dados para o serviço de verificação incluem carteiras de motorista, passaportes, certidões de nascimento e certidões de cidadania.

- Vários tipos de bancos de dados, públicos e proprietários, podem ser usados no eIDV, incluindo dados de agências de crédito, dados policiais e dados de histórico de veículos.

- Os dados que podem ser usados como fontes de verificação incluem dados de mudança de endereço, dados postais, dados de propriedade de propriedade, dados de marketing direto, dados de agências de crédito, dados de cadastro eleitoral, dados de serviços públicos (por exemplo, telefone, gás natural, eletricidade e/ou água serviço), registros de telecomunicações e dados governamentais (como carteira de motorista, passaporte, identidade nacional e números de seguro nacional).

## Vantagens do eIDV

Embora haja um custo associado à verificação da identidade de um indivíduo, pode ser mais barato a longo prazo evitar fazer negócios com indivíduos que fingem ser alguém que não são. Por exemplo, o eIDV pode detectar fraude em potencial se um número de Seguro Social fornecido por um cliente em potencial retornar como pertencente a um indivíduo falecido. O eIDV também pode ser usado para identificar clientes em potencial que estão em listas de vigilância internacionais como indivíduos politicamente expostos, em listas de sanções governamentais ou suspeitos ou condenados por crimes financeiros .

O eIDV pode ser usado não apenas para verificar novos clientes, mas também para manter-se atualizado sobre os clientes existentes. As empresas podem precisar seguir diferentes procedimentos de verificação do cliente, dependendo da linha de negócios e do país de operação. As empresas pagam pelos serviços de eIDV com base no número e nos tipos de bancos de dados pesquisados para verificar a identidade de um indivíduo.

## Outras considerações

Para que um serviço de eIDV seja eficaz, ele deve contar com o banco de dados mais atualizado e de alta qualidade possível. Alguns bancos de dados podem ser mais precisos do que outros, dependendo se são atualizados diariamente, semanalmente, mensalmente ou trimestralmente. Além disso, o sucesso de uma pesquisa dependerá em parte de quão abrangente é um banco de dados. Mesmo no melhor cenário, um banco de dados pode cobrir apenas cerca de 80% da população de um país.

##Destaques

- O eIDV faz uso de fontes de dados públicas e privadas para combinar indivíduos com base em vários critérios, incluindo nome, sexo, endereço, data de nascimento e assim por diante.

- O eIDV é cada vez mais usado no setor financeiro pela aplicação da lei para detectar e prevenir crimes financeiros e combater o terrorismo. Também é utilizado pelo setor privado por seguradoras, corretoras de imóveis, agentes de contratação, entre outros.

- eIDV significa Verificação de Identidade Eletrônica, que se refere amplamente a sistemas informatizados para verificação de identidade individual.

