---
keywords: Crypto
title: Verificação formal
description: verificação formal. Usando provas matematicamente rigorosas para garantir certas propriedades de algoritmos criptográficos e mecanismos de blockchain
---

# Verificação formal
Usando provas matematicamente rigorosas para garantir certas propriedades de algoritmos criptográficos e mecanismos de blockchain

