---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Verificação de terceiros (TPV)
description: Uma empresa pode usar uma organização externa para realizar uma verificação de terceiros (TPV) para revisar e confirmar as informações de um cliente e garantir a precisão.
---

# Verificação de terceiros (TPV)
## O que é a verificação de terceiros (TPV)?

Uma empresa pode usar uma organização externa para realizar uma verificação de terceiros (TPV) para revisar e confirmar as informações e intenções de um cliente e, assim, garantir a precisão. A verificação de terceiros é usada com departamentos de vendas para verificar se um cliente em potencial tem interesse ou concorda em comprar um produto antes de repassar o cliente para um vendedor. O TPV também é usado em situações em que um cliente deseja fornecer ou atualizar informações, mas não pode entregar prontamente um contrato ou uma cópia física dessas informações porque a atualização está ocorrendo por telefone ou online.

## Entendendo a verificação de terceiros (TPV)

A verificação de terceiros permite que uma empresa faça referência a terceiros do histórico de interações mantido por uma parte independente no caso de um cliente alegar que não autorizou a ocorrência de uma alteração de conta ou transação. Para sair do processo de verificação, o cliente deve concordar em consentir com uma transação que será realizada, o que demonstra que o acordo é juridicamente vinculativo.

Às vezes, a verificação de terceiros é exigida por lei, especialmente com o crescente escrutínio da segurança da Internet e [das listas telefônicas para não ligar](/telemarketing). Por exemplo, quaisquer alterações em telecomunicações ou serviços públicos (como serviços de eletricidade ou gás) exigem TPV de acordo com a Federal Trade Commission.

Hoje em dia, a verificação de terceiros é o processo padrão para qualquer transação que ocorra por telefone ou em formato digital em que uma assinatura ou confirmação não possa ser garantida. Em 2018, a Federal Third Communications Commission aprovou uma nova regra para fortalecer seu processo de TPV depois que houve reclamações de chamadas deturpadas e processos de aprovação de partes fraudulentas.

## Exemplo de verificação de terceiros (TPV)

Um exemplo de verificação de terceiros seria quando um cliente fala com um representante de vendas de televisão a cabo para fazer alterações em um plano. Depois de analisar as opções e determinar que o cliente gostaria de prosseguir e aceitar um novo contrato por um período de tempo, o representante de vendas fará uma conferência com um terceiro. O TPV pode ser apenas um serviço de gravação cronometrado e rastreado que é uma entidade separada da empresa de cabo. O representante de vendas revisará as alterações e as informações pessoais do cliente e fará com que ele concorde verbalmente com o novo contrato na linha gravada.

##Destaques

- O TPV permite que uma empresa faça referência ao histórico de interação de terceiros mantido por uma parte independente no caso de um cliente alegar que não autorizou uma alteração de conta ou transação.

- Verificação de terceiros (TPV) é quando uma empresa usa uma organização externa para revisar e confirmar as informações e intenções de um cliente para garantir a precisão.

- TPV também é usado em situações em que um cliente deseja fornecer ou atualizar informações, mas não pode entregar prontamente um contrato ou cópia física dessas informações.

- Um exemplo de TPV seria quando um cliente fala com um representante de vendas de televisão a cabo para fazer alterações em um plano, para o qual um TPV verificará ou registrará.

- Às vezes, o TPV é exigido por lei, especialmente com o crescente escrutínio da segurança da Internet e das listas telefônicas para não ligar.

