---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (vérification d&#39;identité électronique)
description: eIDV (Electronic Identity Verification) est l&#39;utilisation de bases de données publiques et privées pour confirmer rapidement si un individu est bien celui qu&#39;il prétend être.
---

# eIDV (vérification d'identité électronique)
## Qu'est-ce que l'eIDV (vérification électronique de l'identité)

eIDV (Electronic Identity Verification) utilise des données accessibles au public ainsi que des bases de données privées pour vérifier rapidement l'identité d'un individu. eIDV utilise des informations personnelles telles que le nom, la date de naissance, le numéro de sécurité sociale et l'adresse, entre autres champs de données. Le résultat d'une recherche eIDV sur l'identité d'un individu peut entraîner une correspondance, une non-correspondance ou une correspondance partielle.

## Décomposer l'eIDV

eIDV est utilisé par les banques, les sociétés de courtage, les conseillers financiers et les comptables pour minimiser la fraude et se conformer aux lois sur [la connaissance de votre](/knowyourclient) [client](/knowyourclient),. les lois sur la confidentialité, les lois [anti-blanchiment d'argent](/aml) et les lois sur [la lutte contre le financement du terrorisme (CFT)](/combating-financing-terrorism-cft).﻿eIDV est également utilisé par les compagnies d'assurance, les gouvernements, les détaillants, les casinos, les avocats , les employeurs, les recruteurs et les agents immobiliers dans le cadre de leurs processus de [diligence raisonnable .](/duediligence)

## eIDV en cours d'utilisation

La vérification électronique de l'identité compare les données fournies par un individu, telles que le nom, la date de naissance, l'adresse et le SSN, à diverses bases de données pour déterminer s'il existe une correspondance.

- Les documents personnels pouvant servir de sources de données pour le service de vérification comprennent les permis de conduire, les passeports, les certificats de naissance et les certificats de citoyenneté.

- Divers types de bases de données, publiques et propriétaires, peuvent être utilisées dans eIDV, y compris les données du bureau de crédit, les données de la police et les données de l'historique des véhicules.

- Les données pouvant être utilisées comme sources de vérification comprennent les données de changement d'adresse, les données postales, les données sur la propriété foncière, les données de marketing direct, les données du bureau de crédit, les données sur les listes électorales, les données des services publics (par exemple, téléphone, gaz naturel, électricité et/ou eau service), les enregistrements de télécommunications et les données gouvernementales (telles que le permis de conduire, le passeport, la carte d'identité nationale et les numéros d'assurance nationale).

## Avantages eIDV

Bien qu'il y ait un coût associé à la vérification de l'identité d'un individu, il peut être moins coûteux à long terme d'éviter de faire des affaires avec des individus qui prétendent être quelqu'un qu'ils ne sont pas. Par exemple, eIDV peut détecter une fraude potentielle si un numéro de sécurité sociale fourni par un client potentiel revient comme appartenant à une personne décédée. eIDV peut également être utilisé pour identifier les clients potentiels qui figurent sur des listes de surveillance internationales en tant qu'individus politiquement exposés, sur des listes de sanctions gouvernementales ou soupçonnés ou reconnus coupables de délits financiers .

eIDV peut être utilisé non seulement pour vérifier les nouveaux clients, mais aussi pour rester à jour sur les clients existants. Les entreprises peuvent avoir besoin de suivre différentes procédures de vérification des clients en fonction de leur secteur d'activité et de leur pays d'exploitation. Les entreprises paient pour les services eIDV en fonction du nombre et des types de bases de données consultées pour vérifier l'identité d'un individu.

## Autres considérations

Pour qu'un service eIDV soit efficace, il doit s'appuyer sur la base de données la plus à jour et de la meilleure qualité possible. Certaines bases de données peuvent être plus précises que d'autres selon qu'elles sont mises à jour quotidiennement, hebdomadairement, mensuellement ou trimestriellement. De plus, le succès d'une recherche dépendra en partie de l'exhaustivité d'une base de données. Même dans le meilleur des cas, une base de données peut ne couvrir qu'environ 80 % de la population d'un pays.

## Points forts

- eIDV utilise à la fois des sources de données publiques et privées afin de faire correspondre les individus en fonction de plusieurs critères dont le nom, le sexe, l'adresse, la date de naissance, etc.

- L'eIDV est de plus en plus utilisé dans le secteur financier par les forces de l'ordre pour détecter et prévenir les délits financiers et lutter contre le terrorisme. Il est également utilisé par le secteur privé par les assureurs, les agents immobiliers et les agents de location, entre autres.

- eIDV est l'acronyme de Electronic Identity Verification, qui désigne au sens large les systèmes informatisés de vérification d'identité individuelle.

