---
keywords: Crypto
title: Vérification formelle
description: Vérification formelle. Utiliser des preuves mathématiquement rigoureuses pour garantir certaines propriétés des algorithmes cryptographiques et des mécanismes de blockchain
---

# Vérification formelle
Utiliser des preuves mathématiquement rigoureuses pour garantir certaines propriétés des algorithmes cryptographiques et des mécanismes de blockchain

