---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Vérification par un tiers (TPV)
description: Une entreprise peut faire appel à une organisation extérieure pour effectuer une vérification par un tiers (TPV) afin d&#39;examiner et de confirmer les informations d&#39;un client et d&#39;en assurer l&#39;exactitude.
---

# Vérification par un tiers (TPV)
## Qu'est-ce que la vérification par un tiers (TPV) ?

Une entreprise peut faire appel à une organisation extérieure pour effectuer une vérification par un tiers (TPV) afin d'examiner et de confirmer les informations et les intentions d'un client et ainsi garantir l'exactitude. La vérification par un tiers est utilisée avec les services commerciaux pour vérifier qu'un client potentiel a un intérêt ou accepte d'acheter un produit avant de renvoyer le client ou de le transmettre à un vendeur. TPV est également utilisé dans les situations où un client souhaite fournir ou mettre à jour des informations mais ne peut pas fournir facilement un contrat ou une copie physique de ces informations car la mise à jour se produit par téléphone ou en ligne.

## Comprendre la vérification par un tiers (TPV)

La vérification par un tiers permet à une entreprise de référencer l'historique des interactions conservé par un tiers indépendant dans le cas où un client affirme qu'il n'a pas autorisé un changement de compte ou une transaction. Afin de sortir du processus de vérification, le client doit accepter de consentir à une transaction qui va avoir lieu, ce qui démontre que l'accord est juridiquement contraignant.

La vérification par un tiers est parfois exigée par la loi, en particulier avec la surveillance croissante de la sécurité Internet et [des listes de numéros de téléphone à ne pas appeler](/telemarketing). Par exemple, toute modification des télécommunications ou des services publics (tels que les services d'électricité ou de gaz) nécessite une TPV selon la Federal Trade Commission.

De nos jours, la vérification par un tiers est le processus standard pour toutes les transactions effectuées par téléphone ou dans un format numérique où une signature ou une confirmation ne peut pas être sécurisée. En 2018, la Federal Communications Commission a adopté une nouvelle règle pour renforcer son processus TPV après qu'il y ait eu des allégations d'appels déformés et de processus d'approbation tiers frauduleux.

## Exemple de vérification par un tiers (TPV)

Un exemple de vérification par un tiers serait lorsqu'un client parle avec un représentant des ventes de télévision par câble pour apporter des modifications à un plan. Après avoir examiné les options et déterminé que le client souhaite continuer et acceptera un nouveau contrat pendant un certain temps, le représentant des ventes s'entretiendra avec un tiers. Le TPV peut n'être qu'un service d'enregistrement chronométré et suivi qui est une entité distincte de l'entreprise de câblodistribution. Le représentant des ventes examinera ensuite les modifications et les informations personnelles du client et leur demandera d'accepter verbalement le nouveau contrat sur la ligne enregistrée.

## Points forts

- TPV permet à une entreprise de référencer l'historique des interactions conservé par un tiers indépendant dans le cas où un client prétend qu'il n'a pas autorisé un changement de compte ou une transaction.

- La vérification par un tiers (TPV) se produit lorsqu'une entreprise utilise une organisation extérieure pour examiner et confirmer les informations et les intentions d'un client afin d'en garantir l'exactitude.

- TPV est également utilisé dans les situations où un client souhaite fournir ou mettre à jour des informations mais ne peut pas fournir facilement un contrat ou une copie physique de ces informations.

- Un exemple de TPV serait lorsqu'un client parle avec un représentant des ventes de télévision par câble pour apporter des modifications à un plan, pour lequel un TPV vérifiera ou enregistrera.

- Le TPV est parfois requis par la loi, en particulier avec la surveillance croissante de la sécurité Internet et des listes de numéros de téléphone à ne pas appeler.

