---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (elektroninen henkilöllisyyden vahvistus)
description: eIDV (Electronic Identity Verification) on julkisten ja yksityisten tietokantojen käyttö varmistaakseen nopeasti, onko henkilö se, joka väittää olevansa.
---

# eIDV (elektroninen henkilöllisyyden vahvistus)
## Mikä on eIDV (electronic Identity Verification)

eIDV (Electronic Identity Verification) hyödyntää julkisesti saatavilla olevia tietoja sekä yksityisiä tietokantoja yksilön henkilöllisyyden nopeaan varmentamiseen. eIDV käyttää muiden tietokenttien ohella henkilötietoja, kuten nimeä, syntymäaikaa, henkilötunnusta ja osoitetta. Henkilön identiteettiä koskevan eIDV-haun tulos voi johtaa osuvuuteen, ei-vastaavaan tai osittaiseen vastaavuuteen.

## eIDV:n hajottaminen

Pankit, pankkiiriliikkeet, rahoitusneuvojat ja kirjanpitäjät käyttävät eIDV:tä petosten minimoimiseen ja [tunte- asiakkaasi](/knowyourclient) [lakien](/knowyourclient),. yksityisyyslakien, [rahanpesun vastaisten](/aml) lakien ja [terrorismin rahoituksen torjuntaa koskevien](/combating-financing-terrorism-cft) lakien noudattamiseen.﻿eIDV on myös . käyttävät vakuutusyhtiöt, hallitukset, vähittäiskauppiaat, kasinot, lakimiehet , työnantajat, työnhakijat ja kiinteistönvälittäjät osana [due diligence](/duediligence) -prosessejaan.

## eIDV käytössä

Sähköinen henkilöllisyyden vahvistus vertaa yksilön toimittamia tietoja, kuten nimeä, syntymäaikaa, osoitetta ja SSN-numeroa, eri tietokantoihin, jotta voidaan määrittää, löytyykö vastaavuus.

- Henkilöasiakirjoja, jotka voivat toimia tietolähteinä varmennuspalvelulle, ovat ajokortit, passit, syntymätodistukset ja kansalaisuustodistukset.

- eIDV:ssä voidaan käyttää erilaisia tietokantoja, sekä julkisia että omistusoikeudellisia, mukaan lukien luottotietotoimiston tiedot, poliisitiedot ja ajoneuvojen historiatiedot.

- Varmennuslähteinä käytettäviä tietoja ovat osoitteenmuutostiedot, postitiedot, kiinteistön omistustiedot, suoramarkkinointitiedot, luottotoimistotiedot, vaaliluettelotiedot, hyödyllisyystiedot (esim. puhelin, maakaasu, sähkö ja/tai vesi). palvelu), televiestintätietueet ja valtion tiedot (kuten ajokortti, passi, henkilöllisyystodistus ja kansalliset vakuutusnumerot).

## eIDV:n edut

Vaikka henkilön henkilöllisyyden vahvistamiseen liittyy kustannuksia, pitkällä aikavälillä voi olla halvempaa välttää liiketoimintaa sellaisten henkilöiden kanssa, jotka teeskentelevät olevansa joku, jota he eivät ole. eIDV voi esimerkiksi havaita mahdollisen petoksen, jos mahdollisen asiakkaan antama henkilötunnus tulee takaisin kuuluvaksi kuolleelle henkilölle. eIDV:n avulla voidaan myös tunnistaa mahdolliset asiakkaat, jotka ovat kansainvälisillä tarkkailulistoilla poliittisesti paljastuneita, hallituksen pakoteluetteloita tai talousrikoksista epäiltyinä tai tuomituina henkilöinä .

eIDV:tä voidaan käyttää paitsi uusien asiakkaiden todentamiseen myös pysyäkseen ajan tasalla olemassa olevista asiakkaista. Yritysten on ehkä noudatettava erilaisia asiakkaiden vahvistusmenettelyjä toimialansa ja toimintamaansa mukaan. Yritykset maksavat rahaa eIDV-palveluista henkilön henkilöllisyyden todentamiseksi etsittyjen tietokantojen lukumäärän ja tyyppien perusteella.

## Muut näkökohdat

Jotta eIDV-palvelu olisi tehokas, sen tulee luottaa mahdollisimman ajantasaiseen ja laadukkaampaan tietokantaan. Jotkut tietokannat voivat olla tarkempia kuin toiset riippuen siitä, päivitetäänkö ne päivittäin, viikoittain, kuukausittain vai neljännesvuosittain. Lisäksi haun onnistuminen riippuu osittain siitä, kuinka kattava tietokanta on. Parhaassakin tapauksessa tietokanta voi kattaa vain noin 80 % maan väestöstä.

##Kohokohdat

- eIDV käyttää sekä julkisia että yksityisiä tietolähteitä löytääkseen yksilöitä useiden kriteerien perusteella, mukaan lukien nimi, sukupuoli, osoite, syntymäaika ja niin edelleen.

- Lainvalvontaviranomaiset käyttävät eIDV:tä yhä enemmän rahoitusalalla talousrikosten havaitsemiseen ja ehkäisyyn sekä terrorismin torjuntaan. Sitä käyttävät myös yksityinen sektori muun muassa vakuutuksenantajat, kiinteistönvälittäjät ja vuokrausagentit.

- eIDV on lyhenne sanoista Electronic Identity Verification, joka viittaa laajasti tietokoneistettuihin järjestelmiin henkilöllisyyden todentamiseen.

