---
keywords: Crypto
title: Muodollinen vahvistus
description: muodollinen tarkastus. Matemaattisesti tarkkojen todisteiden käyttäminen salausalgoritmien ja lohkoketjumekanismien tiettyjen ominaisuuksien varmistamiseksi
---

# Muodollinen vahvistus
Matemaattisesti tarkkojen todisteiden käyttäminen salausalgoritmien ja lohkoketjumekanismien tiettyjen ominaisuuksien varmistamiseksi

