---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Kolmannen osapuolen vahvistus (TPV)
description: Yritys voi käyttää ulkopuolista organisaatiota suorittamaan kolmannen osapuolen vahvistuksen (TPV) asiakkaan tietojen tarkistamiseksi ja vahvistamiseksi sekä tarkkuuden varmistamiseksi.
---

# Kolmannen osapuolen vahvistus (TPV)
## Mikä on kolmannen osapuolen vahvistus (TPV)?

Yritys voi käyttää ulkopuolista organisaatiota suorittamaan kolmannen osapuolen varmennusta (TPV) asiakkaan tietojen ja aikomusten tarkastamiseksi ja vahvistamiseksi ja siten tarkkuuden varmistamiseksi. Kolmannen osapuolen vahvistusta käytetään myyntiosastojen kanssa sen varmistamiseksi, että potentiaalinen asiakas on kiinnostunut tuotteesta tai suostuu ostamaan sen, ennen kuin asiakas luovutetaan takaisin tai myyjälle. TPV:tä käytetään myös tilanteissa, joissa asiakas haluaa antaa tai päivittää tietoja, mutta ei voi helposti toimittaa sopimusta tai fyysistä kopiota tiedoista, koska päivitys tapahtuu puhelimitse tai verkossa.

## Kolmannen osapuolen vahvistuksen (TPV) ymmärtäminen

Kolmannen osapuolen vahvistuksen avulla yritys voi viitata riippumattoman kolmannen osapuolen ylläpitämään vuorovaikutushistoriaan siinä tapauksessa, että asiakas väittää, ettei hän ole valtuuttanut tilin muutosta tai tapahtumaa. Poistuakseen varmennusprosessista asiakkaan on suostuttava tapahtuvaan tapahtumaan, mikä osoittaa, että sopimus on oikeudellisesti sitova.

Kolmannen osapuolen vahvistus on joskus pakollinen lain mukaan, varsinkin kun Internet [-turvallisuutta ja älä soita -puhelinluetteloita tarkastellaan yhä enemmän](/telemarketing). Esimerkiksi kaikki muutokset televiestintään tai yleishyödyllisiin palveluihin (kuten sähkö- tai kaasupalveluihin) edellyttävät TPV:tä Federal Trade Commissionin mukaan.

Nykyään kolmannen osapuolen vahvistus on tavallinen prosessi kaikissa puhelimitse tai digitaalisessa muodossa tapahtuvissa tapahtumissa, joissa allekirjoitusta tai vahvistusta ei voida suojata. Vuonna 2018 Federal Communications Commission hyväksyi uuden säännön vahvistaakseen TPV-prosessiaan sen jälkeen, kun väitettiin vääristellyistä puheluista ja vilpillisistä kolmannen osapuolen hyväksyntäprosesseista.

## Esimerkki kolmannen osapuolen vahvistuksesta (TPV)

Esimerkki kolmannen osapuolen todentamisesta olisi, kun asiakas keskustelee kaapelitelevision myyntiedustajan kanssa muuttaakseen suunnitelmaansa. Tarkasteltuaan vaihtoehtoja ja päätettyään, että asiakas haluaa jatkaa ja hyväksyy uuden sopimuksen määräajaksi, myyntiedustaja neuvottelee kolmannen osapuolen kanssa. TPV voi olla vain ajastettu ja seurattu tallennuspalvelu, joka on kaapeliyhtiöstä erillinen kokonaisuus. Tämän jälkeen myyntiedustaja tarkistaa muutokset ja asiakkaan henkilötiedot ja pyytää heitä hyväksymään suullisesti uuden sopimuksen tallennetulla rivillä.

## Kohokohdat

- TPV antaa yritykselle mahdollisuuden viitata riippumattoman kolmannen osapuolen ylläpitämään vuorovaikutushistoriaan siinä tapauksessa, että asiakas väittää, ettei hän ole valtuuttanut tilin muutosta tai tapahtumaa.

- Kolmannen osapuolen vahvistus (TPV) tarkoittaa sitä, että yritys käyttää ulkopuolista organisaatiota tarkistaakseen ja vahvistaakseen asiakkaan tiedot ja aikeet tarkkuuden varmistamiseksi.

- TPV:tä käytetään myös tilanteissa, joissa asiakas haluaa antaa tai päivittää tietoja, mutta ei voi helposti toimittaa sopimusta tai fyysistä kopiota tiedoista.

- Esimerkki TPV:stä voisi olla, kun asiakas keskustelee kaapelitelevision myyntiedustajan kanssa tehdäkseen muutoksia suunnitelmaan, jonka TPV tarkistaa tai tallentaa.

- TPV on joskus lakisääteinen, varsinkin Internet-turvallisuuden ja älä soita -puhelinluetteloiden lisääntyessä.

