---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (elektronisk identitetsverifiering)
description: eIDV (Electronic Identity Verification) är användningen av offentliga och privata databaser för att snabbt bekräfta om en individ är den de utger sig för att vara.
---

# eIDV (elektronisk identitetsverifiering)
## Vad är eIDV (elektronisk identitetsverifiering)

eIDV (Electronic Identity Verification) använder sig av offentligt tillgänglig data såväl som privata databaser för att snabbt verifiera en individs identitet. eIDV använder personlig information som namn, födelsedatum, personnummer och adress bland andra datafält. Resultatet av en eIDV-sökning på en individs identitet kan resultera i en matchning, icke-matchning eller partiell matchning.

## Bryter ner eIDV

eIDV används av banker, mäklarfirmor, finansiella rådgivare och revisorer för att minimera bedrägerier och följa [vet-din- kund-](/knowyourclient) [lagar](/knowyourclient),. integritetslagar, lagar [mot penningtvätt](/aml) och lagar [om bekämpning av finansiering av terrorism (CFT)](/combating-financing-terrorism-cft). eIDV är också används av försäkringsbolag, regeringar, återförsäljare, kasinon, advokater , arbetsgivare, jobbrekryterare och fastighetsmäklare som en del av deras [due diligence-](/duediligence) processer.

## eIDV i bruk

Elektronisk identitetsverifiering matchar data som tillhandahålls av en individ, såsom namn, födelsedatum, adress och SSN, mot olika databaser för att avgöra om det finns en matchning.

- Personliga dokument som kan fungera som datakällor för verifieringstjänsten inkluderar körkort, pass, födelsebevis och medborgarskapsintyg.

- Olika typer av databaser, både offentliga och proprietära, kan användas i eIDV, inklusive kreditupplysningsuppgifter, polisdata och fordonshistorik.

- Data som kan användas som verifieringskällor inkluderar adressändringsdata, postdata, fastighetsägandedata, direktmarknadsföringsdata, kreditupplysningsföretagsdata, röstlängdsdata, allmännyttiga data (t.ex. telefon, naturgas, el och/eller vatten) tjänst), telekommunikationsregister och myndighetsdata (som körkort, pass, nationellt ID och folkförsäkringsnummer).

## eIDV-fördelar

Även om det finns en kostnad förknippad med att verifiera en individs identitet, kan det bli billigare i längden att undvika att göra affärer med individer som utger sig för att vara någon de inte är. Till exempel kan eIDV upptäcka potentiellt bedrägeri om ett personnummer som tillhandahålls av en potentiell kund kommer tillbaka som tillhörande en avliden individ. eIDV kan också användas för att identifiera potentiella kunder som finns på internationella bevakningslistor som individer som är politiskt utsatta, på statliga sanktionslistor eller misstänkta eller dömda för ekonomiska brott .

eIDV kan användas inte bara för att verifiera nya kunder utan också för att hålla dig uppdaterad om befintliga kunder. Företag kan behöva följa olika kundverifieringsprocedurer beroende på deras bransch och deras verksamhetsland. Företag betalar pengar för eIDV-tjänster baserat på antalet och typer av databaser som sökts för att verifiera en individs identitet.

## Andra överväganden

För att en eIDV-tjänst ska vara effektiv måste den förlita sig på en så uppdaterad och högkvalitativ databas som möjligt. Vissa databaser kan vara mer exakta än andra beroende på om de uppdateras dagligen, veckovis, månadsvis eller kvartalsvis. Vidare kommer framgången för en sökning delvis att bero på hur omfattande en databas är. Även i bästa fall kan en databas bara täcka cirka 80 % av ett lands befolkning.

##Höjdpunkter

- eIDV använder sig av både offentliga och privata datakällor för att matcha individer baserat på flera kriterier inklusive namn, kön, adress, födelsedatum och så vidare.

– eIDV används i allt större utsträckning inom finansbranschen av brottsbekämpande myndigheter för att upptäcka och förebygga ekonomiska brott och för att bekämpa terrorism. Det används också av den privata sektorn av bland annat försäkringsbolag, fastighetsmäklare och hyrförmedlare.

- eIDV står för Electronic Identity Verification, vilket i stora drag syftar på datoriserade system för individuell ID-verifiering.

