---
keywords: Crypto
title: Formell verifiering
description: formell verifiering. Använda matematiskt rigorösa bevis för att säkerställa vissa egenskaper hos kryptografiska algoritmer och blockkedjemekanismer
---

# Formell verifiering
Använda matematiskt rigorösa bevis för att säkerställa vissa egenskaper hos kryptografiska algoritmer och blockkedjemekanismer

