---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Tredjepartsverifiering (TPV)
description: Ett företag kan använda en extern organisation för att utföra en tredjepartsverifiering (TPV) för att granska och bekräfta en kunds information och säkerställa riktigheten.
---

# Tredjepartsverifiering (TPV)
## Vad är tredjepartsverifiering (TPV)?

Ett företag kan använda en extern organisation för att utföra en tredjepartsverifiering (TPV) för att granska och bekräfta en kunds information och avsikter och därmed säkerställa riktigheten. Tredjepartsverifiering används med försäljningsavdelningar för att verifiera att en potentiell kund har ett intresse av eller samtycker till att köpa en produkt innan kunden skickar tillbaka eller vidare till en säljare. TPV används också i situationer där en kund vill tillhandahålla eller uppdatera information men inte enkelt kan leverera ett kontrakt eller en fysisk kopia av den informationen eftersom uppdateringen sker via telefon eller online.

## Förstå tredjepartsverifiering (TPV)

Tredjepartsverifiering tillåter ett företag att referera till interaktionshistoriken som upprätthålls av en oberoende tredje part i fallet att en kund hävdar att de inte godkände en kontoändring eller transaktion att äga rum. För att gå ut ur verifieringsprocessen måste kunden samtycka till en transaktion som kommer att ske, vilket visar att avtalet är juridiskt bindande.

Tredjepartsverifiering krävs ibland enligt lag, särskilt med den ökande granskningen av Internetsäkerhet och [ring-inte-telefonlistor](/telemarketing). Till exempel, alla ändringar av telekom eller allmännyttiga tjänster (som el- eller gastjänster) kräver TPV enligt Federal Trade Commission.

Nuförtiden är tredjepartsverifiering standardprocessen för alla transaktioner som sker via telefon eller i ett digitalt format där en signatur eller bekräftelse inte går att säkra. Under 2018 antog Federal Communications Commission en ny regel för att stärka sin TPV-process efter att det förekom påståenden om felaktiga samtal och bedrägliga tredjepartsgodkännandeprocesser.

## Exempel på tredjepartsverifiering (TPV)

Ett exempel på tredjepartsverifiering skulle vara när en kund pratar med en kabel-tv-säljare för att göra ändringar i en plan. Efter att ha granskat alternativen och fastställt att kunden vill fortsätta och kommer att acceptera ett nytt kontrakt under en viss tid, kommer säljaren att träffa en tredje part. TPV kan bara vara en tidsinställd och spårad inspelningstjänst som är en separat enhet från kabelbolaget. Säljaren kommer sedan att granska ändringarna och kundens personliga information och få dem att muntligen godkänna det nya avtalet på den inspelade linjen.

## Höjdpunkter

- TPV tillåter ett företag att referera till interaktionshistoriken som upprätthålls av en oberoende tredje part i fallet att en kund hävdar att de inte godkände en kontoändring eller transaktion att äga rum.

– Tredjepartsverifiering (TPV) är när ett företag använder en extern organisation för att granska och bekräfta en kunds information och avsikter för att säkerställa riktigheten.

- TPV används också i situationer där en kund vill tillhandahålla eller uppdatera information men inte utan vidare kan leverera ett kontrakt eller en fysisk kopia av den informationen.

- Ett exempel på TPV skulle vara när en kund pratar med en kabel-tv-säljare för att göra ändringar i en plan, för vilken en TPV kommer att verifiera eller spela in.

– TPV krävs ibland enligt lag, särskilt med den ökande granskningen av Internetsäkerhet och ring-inte-telefonlistor.

