---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Electronic Identity Verification)
description: eIDV (Electronic Identity Verification) is the utilization of public and private databases to rapidly affirm whether an individual is who they claim to be.
---

# eIDV (Electronic Identity Verification)
## What is eIDV (Electronic Identity Verification)

eIDV (Electronic Identity Verification) utilizes publicly accessible data as well as private databases to check the identity of an individual rapidly. eIDV utilizes personal data, for example, name, date of birth, Social Security number, and address among different data fields. The consequence of an eIDV search on an individual's identity could bring about a match, non-match, or partial match.

## Breaking Down eIDV

eIDV is utilized by banks, brokerage firms, financial advisers, and accountants to limit fraud and follow [know-your-customer laws](/knowyourclient), privacy laws, [anti-money laundering](/aml) laws and [Combating the Financing of Terrorism (CFT)](/combating-financing-terrorism-cft) laws. eIDV is additionally utilized by insurance companies, governments, retailers, gambling clubs, lawyers, employers, job enrollment specialists, and real estate agents as part of their [due diligence](/duediligence) processes.

## eIDV being used

Electronic identity verification matches the data provided by an individual, like name, date of birth, address, and SSN, against different databases to decide whether there is a match.

- Personal reports that can act as wellsprings of data for the verification service incorporate driver's licenses, travel papers, birth certificates, and citizenship certificates.
- Different types of databases, both public and proprietary, might be utilized in eIDV, including credit bureau data, police data, and vehicle history data.
- Data that can be utilized as wellsprings of verification incorporate change of address data, postal data, property ownership data, direct marketing data, credit bureau data, discretionary roll data, utility data (e.g., telephone, natural gas, power and additionally water service), telecommunications records, and government data, (for example, driver's license, visa, national ID and national insurance numbers).

## eIDV Advantages

While there is a cost associated with confirming an individual's identity, it very well may be more affordable over the long haul to avoid doing businesses with individuals who are claiming to be somebody they aren't. For instance, eIDV can identify likely fraud in the event that a Social Security number provided by a prospective customer returns as belonging to a deceased individual. eIDV can likewise be utilized to identify prospective customers who are on international watchlists as individuals who are politically uncovered, on government sanctions records, or thought or indicted for financial crimes.

eIDV can be utilized not exclusively to check new customers yet in addition to keep awake to date on existing customers. Businesses might have to follow different customer verification procedures relying upon their line of business and their country of operation. Businesses pay money for eIDV services in view of the number and types of databases looked to check an individual's identity.

## Different Considerations

For an eIDV service to be effective, it must depend on the most potential modern and great database. A few databases might be more accurate than others relying upon whether they are refreshed daily, week by week, month to month or quarterly. Further, the progress of a hunt will depend in part on how far reaching a database is. Even in a most ideal situation, a database may just cover around 80% of a country's population.

## Features
- eIDV utilizes both public and private data sources to match individuals in light of several criteria including name, sex, address, date of birth, etc.
- eIDV is progressively utilized in the financial industry by law enforcement to identify and prevent financial crimes and to combat terrorism. It is additionally utilized by the private sector by insurers, realtors, and hiring agents, among others.
- eIDV represents Electronic Identity Verification, which alludes extensively to mechanized systems for individual ID verification.
