---
keywords: Crypto
title: Formal Verification
description: Formal Verification. Utilizing numerically thorough proofs to guarantee certain properties of cryptographic calculations and blockchain instruments
---

# Formal Verification
Utilizing numerically thorough proofs to guarantee certain properties of cryptographic calculations and blockchain instruments
