---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Third-Party Verification (TPV)
description: A company might utilize an outside organization to perform a third-party verification (TPV) to survey and affirm a customer&#39;s data and guarantee precision.
---

# Third-Party Verification (TPV)
## What Is Third-Party Verification (TPV)?

A company might utilize an outside organization to perform a third-party verification (TPV) to survey and affirm a customer's data and expectations and consequently guarantee precision. Third-party verification is utilized with sales offices to check that a potential customer has an interest in or consents to purchase a product before giving the customer back or to a salesperson. TPV is likewise utilized in circumstances in which a customer needs to give or refresh data yet can't promptly deliver a contract or physical copy of that data in light of the fact that the update is happening via telephone or online.

## Seeing Third-Party Verification (TPV)

Third-party verification permits a company to reference the communication history kept up with by an independent third party in the case that a customer claims that they didn't approve an account change or transaction to occur. To move out of the verification cycle, the customer must consent to consent to a transaction that will happen, which exhibits that the agreement is legally binding.

Third-party verification is in some cases required by law, particularly with the rising examination of Internet security and [do-not-call telephone lists](/selling). For instance, any changes to telecom or utility, (for example, power or gas services) require TPV per the Federal Trade Commission.

These days, third-party verification is the standard cycle for any transactions that happen via telephone or in a digital configuration where a signature or confirmation can't be secured. In 2018, the Federal Communications Commission passed another rule to reinforce its TPV cycle after there were claims of distorted calls and fraudulent third-party endorsement processes.

## Illustration of Third-Party Verification (TPV)

An illustration of third-party verification would be the point at which a customer talks with a cable TV sales rep to make changes to a plan. In the wake of evaluating options and establishing that the customer might want to continue, and will acknowledge another contract for a while, the sales rep will conference to a third party. The TPV may just be a coordinated and followed recording service that is a separate entity from the cable company. The sales rep will then audit the changes and the customer's personal data and have them verbally consent to the new contract on the recorded line.

## Features
- TPV permits a company to reference the connection history kept up with by an independent third party in the case that a customer claims that they didn't approve an account change or transaction to happen.
- Third-party verification (TPV) is the point at which a company utilizes an outside organization to survey and affirm a customer's data and expectations to guarantee exactness.
- TPV is likewise utilized in circumstances in which a customer needs to give or refresh data yet can't promptly deliver a contract or physical copy of that data.
- An illustration of TPV would be the point at which a customer talks with a cable TV sales rep to make changes to a plan, for which a TPV will confirm or record.
- TPV is at times required by law, particularly with the rising examination of Internet security and don't call telephone records.
