---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Electronic Identity Verification)
description: eIDV (Electronic Identity Verification) er brugen af offentlige og private databaser til hurtigt at bekræfte, om en person er den, de udgiver sig for at være.
---

# eIDV (Electronic Identity Verification)
## Hvad er eIDV (Electronic Identity Verification)

eIDV (Electronic Identity Verification) gør brug af offentligt tilgængelige data samt private databaser til hurtigt at verificere en persons identitet. eIDV bruger personlige oplysninger såsom navn, fødselsdato, CPR-nummer og adresse blandt andre datafelter. Resultatet af en eIDV-søgning på en persons identitet kan resultere i et match, ikke-match eller delvist match.

## Nedbrydning af eIDV

eIDV bruges af banker, mæglerfirmaer, finansielle rådgivere og revisorer til at minimere svig og overholde [love , der](/knowyourclient) [kender din kunde , love om](/knowyourclient) beskyttelse af personlige oplysninger, love [om bekæmpelse af hvidvask af penge](/aml) og love [om bekæmpelse af finansiering af terrorisme (CFT](/combating-financing-terrorism-cft) ). bruges også af forsikringsselskaber, regeringer, detailhandlere, kasinoer, advokater , arbejdsgivere, jobrekrutterere og ejendomsmæglere som en del af deres [due diligence-](/duediligence) processer.

## eIDV i brug

Elektronisk identitetsbekræftelse matcher de data, som en person har leveret, såsom navn, fødselsdato, adresse og SSN, mod forskellige databaser for at afgøre, om der er et match.

- Personlige dokumenter, der kan tjene som datakilder for verifikationstjenesten, omfatter kørekort, pas, fødselsattester og statsborgerskabsattester.

- Forskellige typer af databaser, både offentlige og proprietære, kan bruges i eIDV, herunder kreditbureaudata, politidata og køretøjshistorik.

- Data, der kan bruges som verifikationskilder, omfatter adresseændringsdata, postdata, data om ejendomsejerskab, data om direkte markedsføring, kreditbureaudata, valglistedata, forsyningsdata (f.eks. telefon, naturgas, elektricitet og/eller vand) service), telekommunikationsregistre og offentlige data (såsom kørekort, pas, nationalt ID og nationale forsikringsnumre).

## eIDV Fordele

Selvom der er en omkostning forbundet med at verificere en persons identitet, kan det være billigere i det lange løb at undgå at lave forretninger med personer, der udgiver sig for at være en, de ikke er. For eksempel kan eIDV opdage potentielt bedrageri, hvis et CPR-nummer, der er angivet af en potentiel kunde, vender tilbage som tilhørende en afdød person. eIDV kan også bruges til at identificere potentielle kunder, der er på internationale observationslister, som personer, der er politisk eksponerede, på regeringens sanktionslister eller mistænkte eller dømt for økonomisk kriminalitet .

eIDV kan ikke kun bruges til at verificere nye kunder, men også til at holde sig opdateret om eksisterende kunder. Virksomheder skal muligvis følge forskellige kundebekræftelsesprocedurer afhængigt af deres branche og deres driftsland. Virksomheder betaler penge for eIDV-tjenester baseret på antallet og typer af databaser, der søges efter for at bekræfte en persons identitet.

## Andre overvejelser

For at en eIDV-tjeneste skal være effektiv, skal den stole på den mest opdaterede og højkvalitetsdatabase som muligt. Nogle databaser kan være mere nøjagtige end andre afhængigt af, om de opdateres dagligt, ugentligt, månedligt eller kvartalsvis. Ydermere vil en søgnings succes til dels afhænge af, hvor omfattende en database er. Selv i et bedst tilfælde kan en database kun dække omkring 80 % af et lands befolkning.

## Højdepunkter

- eIDV gør brug af både offentlige og private datakilder for at matche personer baseret på flere kriterier, herunder navn, køn, adresse, fødselsdato og så videre.

- eIDV bruges i stigende grad i den finansielle industri af retshåndhævelse til at opdage og forhindre økonomisk kriminalitet og til at bekæmpe terrorisme. Det bruges også af den private sektor af blandt andre forsikringsselskaber, ejendomsmæglere og lejeagenter.

- eIDV står for Electronic Identity Verification, som i store træk refererer til edb-systemer til individuel ID-verifikation.

