---
keywords: Crypto
title: Formel verifikation
description: Formel verifikation. Brug af matematisk strenge beviser for at sikre visse egenskaber ved kryptografiske algoritmer og blockchain-mekanismer
---

# Formel verifikation
Brug af matematisk strenge beviser for at sikre visse egenskaber ved kryptografiske algoritmer og blockchain-mekanismer

