---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Tredjepartsverifikation (TPV)
description: En virksomhed kan bruge en ekstern organisation til at udføre en tredjepartsverifikation (TPV) for at gennemgå og bekræfte en kundes oplysninger og sikre nøjagtighed.
---

# Tredjepartsverifikation (TPV)
## Hvad er Third-Party Verification (TPV)?

En virksomhed kan bruge en ekstern organisation til at udføre en tredjepartsverifikation (TPV) for at gennemgå og bekræfte en kundes oplysninger og hensigter og dermed sikre nøjagtighed. Tredjepartsverifikation bruges sammen med salgsafdelinger til at verificere, at en potentiel kunde har en interesse i eller indvilliger i at købe et produkt, før kunden sender tilbage eller videre til en sælger. TPV bruges også i situationer, hvor en kunde ønsker at give eller opdatere oplysninger, men ikke uden videre kan levere en kontrakt eller fysisk kopi af disse oplysninger, fordi opdateringen sker over telefonen eller online.

## Understanding Third-Party Verification (TPV)

Tredjepartsverifikation gør det muligt for en virksomhed at henvise til den interaktionshistorik, der vedligeholdes af en uafhængig tredjepart, i tilfælde af, at en kunde hævder, at de ikke har godkendt en kontoændring eller transaktion til at finde sted. For at komme ud af verifikationsprocessen skal kunden acceptere at give samtykke til en transaktion, der skal finde sted, hvilket viser, at aftalen er juridisk bindende.

Tredjepartsbekræftelse er nogle gange påkrævet ved lov, især med den stigende undersøgelse af internetsikkerhed og [telefonlister, der ikke skal ringes op](/telemarketing). For eksempel kræver enhver ændring af telekommunikation eller forsyning (såsom el- eller gastjenester) TPV ifølge Federal Trade Commission.

I dag er tredjepartsverifikation standardprocessen for alle transaktioner, der sker over telefonen eller i et digitalt format, hvor en signatur eller bekræftelse ikke kan sikres. I 2018 vedtog Federal Communications Commission en ny regel for at styrke sin TPV-proces, efter at der var påstande om urigtige opkald og svigagtige tredjepartsgodkendelsesprocesser.

## Eksempel på tredjepartsbekræftelse (TPV)

Et eksempel på tredjepartsverifikation ville være, når en kunde taler med en kabel-tv-salgsrepræsentant for at foretage ændringer i en plan. Efter at have gennemgået mulighederne og fastslået, at kunden gerne vil fortsætte og vil acceptere en ny kontrakt i en periode, vil sælgeren mødes med en tredjepart. TPV'en kan bare være en tidsindstillet og sporet optagelsestjeneste, der er en separat enhed fra kabelselskabet. Sælgeren vil derefter gennemgå ændringerne og kundens personlige oplysninger og få dem mundtligt at acceptere den nye kontrakt på den registrerede linje.

## Højdepunkter

- TPV giver en virksomhed mulighed for at henvise til interaktionshistorikken, der vedligeholdes af en uafhængig tredjepart, i tilfælde af, at en kunde hævder, at de ikke har godkendt en kontoændring eller transaktion til at finde sted.

- Tredjepartsverifikation (TPV) er, når en virksomhed bruger en ekstern organisation til at gennemgå og bekræfte en kundes oplysninger og intentioner for at sikre nøjagtighed.

- TPV bruges også i situationer, hvor en kunde ønsker at give eller opdatere information, men ikke uden videre kan levere en kontrakt eller fysisk kopi af disse oplysninger.

- Et eksempel på TPV ville være, når en kunde taler med en kabel-tv-salgsrepræsentant for at foretage ændringer i en plan, som en TPV vil verificere eller optage for.

- TPV er nogle gange påkrævet ved lov, især med den stigende undersøgelse af internetsikkerhed og ring ikke-opkald telefonlister.

