---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Elektronische Identitätsprüfung)
description: eIDV (Electronic Identity Verification) ist die Verwendung öffentlicher und privater Datenbanken, um schnell zu bestätigen, ob eine Person die ist, für die sie sich ausgibt.
---

# eIDV (Elektronische Identitätsprüfung)
## Was ist eIDV (Elektronische Identitätsprüfung)

eIDV (Electronic Identity Verification) nutzt öffentlich verfügbare Daten sowie private Datenbanken, um die Identität einer Person schnell zu überprüfen. eIDV verwendet neben anderen Datenfeldern personenbezogene Daten wie Name, Geburtsdatum, Sozialversicherungsnummer und Adresse. Das Ergebnis einer eIDV-Suche nach der Identität einer Person kann zu einer Übereinstimmung, Nichtübereinstimmung oder teilweisen Übereinstimmung führen.

## eIDV aufschlüsseln

eIDV wird von Banken, Maklerfirmen, Finanzberatern und Wirtschaftsprüfern verwendet, um Betrug zu minimieren und [Gesetze zur](/knowyourclient) [Kenntnis Ihrer Kunden](/knowyourclient),. Datenschutzgesetze, Gesetze zur Bekämpfung von [Geldwäsche](/aml) und Gesetze [zur Bekämpfung der Terrorismusfinanzierung (CFT)](/combating-financing-terrorism-cft) einzuhalten.﻿eIDV ist wird auch von Versicherungsunternehmen, Regierungen, Einzelhändlern, Kasinos, Anwälten , Arbeitgebern, Personalvermittlern und Immobilienmaklern im Rahmen ihrer [Due-Diligence -](/duediligence) Prozesse verwendet.

## eIDV im Einsatz

Die elektronische Identitätsprüfung vergleicht die von einer Person bereitgestellten Daten wie Name, Geburtsdatum, Adresse und Sozialversicherungsnummer mit verschiedenen Datenbanken, um festzustellen, ob eine Übereinstimmung vorliegt.

- Personenbezogene Dokumente, die als Datenquellen für den Verifizierungsdienst dienen können, sind beispielsweise Führerscheine, Reisepässe, Geburtsurkunden und Staatsbürgerschaftsurkunden.

- Verschiedene Arten von Datenbanken, sowohl öffentliche als auch proprietäre, können in eIDV verwendet werden, einschließlich Daten von Kreditauskunfteien, Polizeidaten und Fahrzeugverlaufsdaten.

- Daten, die als Verifizierungsquellen verwendet werden können, umfassen Adressänderungen, Postdaten, Eigentumsdaten, Direktmarketingdaten, Kreditauskunfteien, Wählerlistendaten, Versorgungsdaten (z. B. Telefon, Erdgas, Strom und/oder Wasser). Dienst), Telekommunikationsaufzeichnungen und Regierungsdaten (wie Führerschein, Reisepass, Personalausweis und Sozialversicherungsnummern).

## eIDV-Vorteile

Während die Überprüfung der Identität einer Person mit Kosten verbunden ist, kann es auf lange Sicht kostengünstiger sein, Geschäfte mit Personen zu vermeiden, die vorgeben, jemand zu sein, der sie nicht sind. Beispielsweise kann eIDV potenziellen Betrug erkennen, wenn eine von einem potenziellen Kunden angegebene Sozialversicherungsnummer als Eigentum einer verstorbenen Person zurückkommt. eIDV kann auch verwendet werden, um potenzielle Kunden, die auf internationalen Beobachtungslisten stehen, als Personen zu identifizieren, die politisch exponiert sind, auf staatlichen Sanktionslisten stehen oder der Finanzkriminalität verdächtigt oder verurteilt werden .

eIDV kann nicht nur verwendet werden, um neue Kunden zu verifizieren, sondern auch um über bestehende Kunden auf dem Laufenden zu bleiben. Unternehmen müssen je nach Branche und Land der Geschäftstätigkeit möglicherweise unterschiedliche Verfahren zur Kundenüberprüfung befolgen. Unternehmen zahlen Geld für eIDV-Dienste basierend auf der Anzahl und Art der Datenbanken, die durchsucht werden, um die Identität einer Person zu überprüfen.

## Andere Überlegungen

Damit ein eIDV-Dienst effektiv ist, muss er sich auf eine möglichst aktuelle und qualitativ hochwertige Datenbank verlassen. Einige Datenbanken können genauer sein als andere, je nachdem, ob sie täglich, wöchentlich, monatlich oder vierteljährlich aktualisiert werden. Außerdem hängt der Erfolg einer Suche teilweise davon ab, wie umfassend eine Datenbank ist. Selbst im besten Fall kann eine Datenbank nur etwa 80 % der Bevölkerung eines Landes abdecken.

## Höhepunkte

- eIDV nutzt sowohl öffentliche als auch private Datenquellen, um Personen auf der Grundlage mehrerer Kriterien wie Name, Geschlecht, Adresse, Geburtsdatum usw. abzugleichen.

- eIDV wird in der Finanzbranche zunehmend von Strafverfolgungsbehörden zur Aufdeckung und Verhinderung von Finanzkriminalität und zur Terrorismusbekämpfung eingesetzt. Es wird unter anderem auch im privaten Sektor von Versicherern, Immobilienmaklern und Personalvermittlern verwendet.

- eIDV steht für Electronic Identity Verification, was sich allgemein auf computergestützte Systeme zur individuellen Identitätsprüfung bezieht.

