---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Verifizierung durch Drittanbieter (TPV)
description: Ein Unternehmen kann eine externe Organisation einsetzen, um eine Verifizierung durch Dritte (TPV) durchzuführen, um die Informationen eines Kunden zu überprüfen und zu bestätigen und die Richtigkeit sicherzustellen.
---

# Verifizierung durch Drittanbieter (TPV)
## Was ist Third-Party Verification (TPV)?

Ein Unternehmen kann eine externe Organisation einsetzen, um eine Verifizierung durch Dritte (TPV) durchzuführen, um die Informationen und Absichten eines Kunden zu überprüfen und zu bestätigen und so die Richtigkeit sicherzustellen. Die Überprüfung durch Dritte wird von Verkaufsabteilungen verwendet, um zu überprüfen, ob ein potenzieller Kunde ein Interesse an einem Produkt hat oder dem Kauf eines Produkts zustimmt, bevor der Kunde an einen Verkäufer zurückgeleitet oder weitergeleitet wird. TPV wird auch in Situationen verwendet, in denen ein Kunde Informationen bereitstellen oder aktualisieren möchte, aber nicht ohne weiteres einen Vertrag oder eine physische Kopie dieser Informationen liefern kann, weil die Aktualisierung telefonisch oder online erfolgt.

## Third-Party Verification (TPV) verstehen

Die Überprüfung durch Dritte ermöglicht es einem Unternehmen, auf den von einem unabhängigen Dritten geführten Interaktionsverlauf zu verweisen, falls ein Kunde behauptet, dass er eine Kontoänderung oder Transaktion nicht autorisiert hat. Um den Überprüfungsprozess zu verlassen, muss der Kunde einer bevorstehenden Transaktion zustimmen, die belegt, dass die Vereinbarung rechtsverbindlich ist.

Die Verifizierung durch Dritte ist manchmal gesetzlich vorgeschrieben, insbesondere angesichts der zunehmenden Überprüfung der Internetsicherheit und [der Listen mit Anrufverboten](/telemarketing). Beispielsweise erfordern alle Änderungen an Telekommunikations- oder Versorgungsunternehmen (wie Strom- oder Gasdienste) TPV gemäß der Federal Trade Commission.

Heutzutage ist die Überprüfung durch Dritte der Standardprozess für alle Transaktionen, die telefonisch oder in einem digitalen Format erfolgen, bei denen eine Unterschrift oder Bestätigung nicht gesichert werden kann. Im Jahr 2018 verabschiedete die Federal Communications Commission eine neue Regel zur Stärkung ihres TPV-Prozesses, nachdem es Behauptungen über falsch dargestellte Anrufe und betrügerische Genehmigungsverfahren durch Dritte gab.

## Beispiel für die Überprüfung durch Dritte (TPV)

Ein Beispiel für die Überprüfung durch Dritte wäre, wenn ein Kunde mit einem Vertriebsmitarbeiter für Kabelfernsehen spricht, um Änderungen an einem Plan vorzunehmen. Nachdem die Optionen geprüft und festgestellt wurden, dass der Kunde fortfahren möchte und einen neuen Vertrag für einen bestimmten Zeitraum akzeptieren wird, wird der Vertriebsmitarbeiter eine Konferenz mit einem Dritten besprechen. Das TPV kann nur ein zeitgesteuerter und verfolgter Aufzeichnungsdienst sein, der eine von der Kabelgesellschaft getrennte Einheit ist. Der Vertriebsmitarbeiter überprüft dann die Änderungen und die persönlichen Daten des Kunden und lässt ihn dem neuen Vertrag mündlich auf der aufgezeichneten Leitung zustimmen.

## Höhepunkte

- TPV ermöglicht es einem Unternehmen, auf den von einem unabhängigen Dritten geführten Interaktionsverlauf zu verweisen, falls ein Kunde behauptet, dass er eine Kontoänderung oder Transaktion nicht autorisiert hat.

- Verifizierung durch Dritte (TPV) ist, wenn ein Unternehmen eine externe Organisation einsetzt, um die Informationen und Absichten eines Kunden zu überprüfen und zu bestätigen, um die Richtigkeit sicherzustellen.

- TPV wird auch in Situationen verwendet, in denen ein Kunde Informationen bereitstellen oder aktualisieren möchte, aber nicht ohne weiteres einen Vertrag oder eine physische Kopie dieser Informationen liefern kann.

- Ein Beispiel für TPV wäre, wenn ein Kunde mit einem Vertriebsmitarbeiter für Kabelfernsehen spricht, um Änderungen an einem Plan vorzunehmen, die von einem TPV überprüft oder aufgezeichnet werden.

- TPV ist manchmal gesetzlich vorgeschrieben, insbesondere mit der zunehmenden Überprüfung der Internetsicherheit und der Listen mit Anrufverboten.

