---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Verificación de identidad electrónica)
description: eIDV (Verificación de identidad electrónica) es el uso de bases de datos públicas y privadas para confirmar rápidamente si una persona es quien dice ser.
---

# eIDV (Verificación de identidad electrónica)
## ¿Qué es eIDV (Verificación Electrónica de Identidad)?

eIDV (Verificación de Identidad Electrónica) hace uso de datos disponibles públicamente, así como bases de datos privadas para verificar rápidamente la identidad de un individuo. eIDV utiliza información personal como nombre, fecha de nacimiento, número de Seguro Social y dirección, entre otros campos de datos. El resultado de una búsqueda de eIDV en la identidad de un individuo podría dar como resultado una coincidencia, una no coincidencia o una coincidencia parcial.

## Desglosando eIDV

eIDV es utilizado por bancos, firmas de corretaje, asesores financieros y contadores para minimizar el fraude y cumplir con las leyes [de conocimiento de su cliente ,](/knowyourclient) [leyes](/knowyourclient) de privacidad, leyes [contra el lavado de dinero y las](/aml) leyes de [Lucha contra el Financiamiento del Terrorismo (CFT)](/combating-financing-terrorism-cft). también utilizado por compañías de seguros, gobiernos, minoristas, casinos, abogados , empleadores, reclutadores de empleo y agentes inmobiliarios como parte de sus procesos de [diligencia debida .](/duediligence)

## eIDV en uso

La verificación de identidad electrónica coteja los datos proporcionados por una persona, como el nombre, la fecha de nacimiento, la dirección y el SSN, con varias bases de datos para determinar si hay una coincidencia.

- Los documentos personales que pueden servir como fuentes de datos para el servicio de verificación incluyen licencias de conducir, pasaportes, actas de nacimiento y certificados de ciudadanía.

- Se pueden utilizar varios tipos de bases de datos, tanto públicas como privadas, en eIDV, incluidos datos de agencias de crédito, datos policiales y datos del historial del vehículo.

- Los datos que se pueden utilizar como fuentes de verificación incluyen datos de cambio de dirección, datos postales, datos de propiedad de la propiedad, datos de marketing directo, datos de burós de crédito, datos del censo electoral, datos de servicios públicos (p. ej., teléfono, gas natural, electricidad y/o agua). servicio), registros de telecomunicaciones y datos gubernamentales (como licencia de conducir, pasaporte, identificación nacional y números de seguro nacional).

## Ventajas de eIDV

Si bien hay un costo asociado con la verificación de la identidad de una persona, puede ser menos costoso a largo plazo evitar hacer negocios con personas que pretenden ser alguien que no son. Por ejemplo, eIDV puede detectar posibles fraudes si un número de Seguro Social proporcionado por un cliente potencial vuelve a ser perteneciente a una persona fallecida. eIDV también se puede usar para identificar a clientes potenciales que están en listas de vigilancia internacionales como personas políticamente expuestas, en listas de sanciones gubernamentales o sospechosos o condenados por delitos financieros .

eIDV se puede usar no solo para verificar nuevos clientes, sino también para mantenerse actualizado sobre los clientes existentes. Es posible que las empresas deban seguir diferentes procedimientos de verificación de clientes según su línea de negocio y su país de operación. Las empresas pagan dinero por los servicios de eIDV en función de la cantidad y los tipos de bases de datos buscadas para verificar la identidad de una persona.

## Otras Consideraciones

Para que un servicio eIDV sea efectivo, debe basarse en la base de datos más actualizada y de mayor calidad posible. Algunas bases de datos pueden ser más precisas que otras dependiendo de si se actualizan diariamente, semanalmente, mensualmente o trimestralmente. Además, el éxito de una búsqueda dependerá en parte de cuán completa sea la base de datos. Incluso en el mejor de los casos, una base de datos solo puede cubrir alrededor del 80% de la población de un país.

## Reflejos

- eIDV utiliza fuentes de datos tanto públicas como privadas para hacer coincidir a las personas en función de varios criterios, incluidos el nombre, el sexo, la dirección, la fecha de nacimiento, etc.

- eIDV se utiliza cada vez más en la industria financiera por parte de las fuerzas del orden para detectar y prevenir delitos financieros y combatir el terrorismo. También es utilizado por el sector privado por aseguradoras, inmobiliarias y agentes de contratación, entre otros.

- eIDV significa Verificación de Identidad Electrónica, que se refiere ampliamente a los sistemas computarizados para la verificación de identidad individual.

