---
keywords: Crypto
title: Verificación Formal
description: Verificación formal. Usar pruebas matemáticamente rigurosas para garantizar ciertas propiedades de los algoritmos criptográficos y los mecanismos de la cadena de bloques
---

# Verificación Formal
Usar pruebas matemáticamente rigurosas para garantizar ciertas propiedades de los algoritmos criptográficos y los mecanismos de la cadena de bloques

