---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Verificación de terceros (TPV)
description: Una empresa puede utilizar una organización externa para realizar una verificación de terceros (TPV) para revisar y confirmar la información de un cliente y garantizar su exactitud.
---

# Verificación de terceros (TPV)
## ¿Qué es la verificación de terceros (TPV)?

Una empresa puede utilizar una organización externa para realizar una verificación de terceros (TPV) para revisar y confirmar la información y las intenciones de un cliente y, por lo tanto, garantizar la precisión. La verificación de terceros se utiliza con los departamentos de ventas para verificar que un cliente potencial tiene interés o acepta comprar un producto antes de devolver el cliente a un vendedor. TPV también se usa en situaciones en las que un cliente desea proporcionar o actualizar información, pero no puede entregar fácilmente un contrato o una copia física de esa información porque la actualización se realiza por teléfono o en línea.

## Comprender la verificación de terceros (TPV)

La verificación de terceros permite a una empresa hacer referencia al historial de interacciones mantenido por un tercero independiente en el caso de que un cliente afirme que no autorizó que se realizara un cambio de cuenta o una transacción. Para salir del proceso de verificación, el cliente debe aceptar dar su consentimiento a una transacción que se va a realizar, lo que demuestra que el acuerdo es legalmente vinculante.

La verificación de terceros a veces es requerida por ley, especialmente con el creciente escrutinio de la seguridad de Internet y [las listas de teléfonos de no llamar](/telemarketing). Por ejemplo, cualquier cambio en las telecomunicaciones o los servicios públicos (como los servicios de electricidad o gas) requiere TPV según la Comisión Federal de Comercio.

Hoy en día, la verificación de terceros es el proceso estándar para cualquier transacción que se realice por teléfono o en un formato digital donde no se pueda asegurar una firma o confirmación. En 2018, la Comisión Federal de Comunicaciones aprobó una nueva regla para fortalecer su proceso de TPV después de que hubo denuncias de llamadas tergiversadas y procesos de aprobación de terceros fraudulentos.

## Ejemplo de verificación de terceros (TPV)

Un ejemplo de verificación de terceros sería cuando un cliente habla con un representante de ventas de televisión por cable para realizar cambios en un plan. Después de revisar las opciones y determinar que el cliente desea continuar y aceptará un nuevo contrato por un período de tiempo, el representante de ventas se comunicará con un tercero. El TPV puede ser simplemente un servicio de grabación cronometrado y rastreado que es una entidad separada de la compañía de cable. El representante de ventas luego revisará los cambios y la información personal del cliente y les pedirá que acepten verbalmente el nuevo contrato en la línea registrada.

## Reflejos

- TPV permite que una empresa haga referencia al historial de interacciones mantenido por un tercero independiente en el caso de que un cliente afirme que no autorizó un cambio de cuenta o una transacción.

- La verificación de terceros (TPV) es cuando una empresa utiliza una organización externa para revisar y confirmar la información y las intenciones de un cliente para garantizar la precisión.

- TPV también se utiliza en situaciones en las que un cliente desea proporcionar o actualizar información, pero no puede entregar fácilmente un contrato o una copia física de esa información.

- Un ejemplo de TPV sería cuando un cliente habla con un representante de ventas de televisión por cable para realizar cambios en un plan, para lo cual un TPV verificará o registrará.

- La TPV a veces es requerida por ley, especialmente con el creciente escrutinio de la seguridad en Internet y las listas de teléfonos de no llamar.

