---
keywords: Investing,Financial Technology and Automated Investing,FinTech
title: eIDV (Pengesahan Identiti Elektronik)
description: eIDV (Pengesahan Identiti Elektronik) ialah penggunaan pangkalan data awam dan persendirian untuk mengesahkan dengan cepat sama ada seseorang individu itu adalah yang mereka dakwa.
---

# eIDV (Pengesahan Identiti Elektronik)
## Apakah itu eIDV (Pengesahan Identiti Elektronik)

eIDV (Pengesahan Identiti Elektronik) menggunakan data yang tersedia secara umum serta pangkalan data peribadi untuk mengesahkan identiti seseorang individu dengan cepat. eIDV menggunakan maklumat peribadi seperti nama, tarikh lahir, nombor Keselamatan Sosial dan alamat antara medan data lain. Hasil carian eIDV pada identiti individu boleh menghasilkan padanan, tidak padanan atau padanan separa.

## Memecahkan eIDV

eIDV digunakan oleh bank, firma pembrokeran, penasihat kewangan dan akauntan untuk meminimumkan penipuan dan mematuhi undang-undang [mengenali pelanggan anda,](/knowyourclient) [undang](/knowyourclient) -undang privasi, undang -undang [pencegahan pengubahan wang haram](/aml) dan undang-undang [Membanteras Pembiayaan Keganasan (CFT)](/combating-financing-terrorism-cft).﻿eIDV juga digunakan oleh syarikat insurans, kerajaan, peruncit, kasino, peguam , majikan, perekrut pekerjaan dan ejen hartanah sebagai sebahagian daripada proses [usaha wajar](/duediligence) mereka.

## eIDV dalam Penggunaan

Pengesahan identiti elektronik memadankan data yang diberikan oleh individu, seperti nama, tarikh lahir, alamat dan SSN, terhadap pelbagai pangkalan data untuk menentukan sama ada terdapat padanan.

- Dokumen peribadi yang boleh berfungsi sebagai sumber data untuk perkhidmatan pengesahan termasuk lesen memandu, pasport, sijil kelahiran dan sijil kewarganegaraan.

- Pelbagai jenis pangkalan data, sama ada awam dan proprietari, boleh digunakan dalam eIDV, termasuk data biro kredit, data polis dan data sejarah kenderaan.

- Data yang boleh digunakan sebagai sumber pengesahan termasuk data pertukaran alamat, data pos, data pemilikan hartanah, data pemasaran langsung, data biro kredit, data daftar pemilih, data utiliti (cth, telefon, gas asli, elektrik dan/atau air perkhidmatan), rekod telekomunikasi dan data kerajaan (seperti lesen memandu, pasport, ID kebangsaan dan nombor insurans negara).

## Kelebihan eIDV

Walaupun terdapat kos yang berkaitan dengan mengesahkan identiti individu, ia boleh menjadi lebih murah dalam jangka masa panjang untuk mengelak daripada melakukan perniagaan dengan individu yang berpura-pura menjadi seseorang yang bukan mereka. Sebagai contoh, eIDV boleh mengesan potensi penipuan jika nombor Keselamatan Sosial yang diberikan oleh bakal pelanggan kembali sebagai milik individu yang telah meninggal dunia. eIDV juga boleh digunakan untuk mengenal pasti bakal pelanggan yang berada dalam senarai pantau antarabangsa sebagai individu yang terdedah dari segi politik, dalam senarai sekatan kerajaan, atau disyaki atau disabitkan dengan jenayah kewangan .

eIDV boleh digunakan bukan sahaja untuk mengesahkan pelanggan baharu tetapi juga untuk mengikuti perkembangan terkini tentang pelanggan sedia ada. Perniagaan mungkin perlu mengikuti prosedur pengesahan pelanggan yang berbeza bergantung pada barisan perniagaan mereka dan negara operasi mereka. Perniagaan membayar wang untuk perkhidmatan eIDV berdasarkan bilangan dan jenis pangkalan data yang dicari untuk mengesahkan identiti individu.

## Pertimbangan Lain

Untuk perkhidmatan eIDV berkesan, ia mesti bergantung pada pangkalan data yang paling terkini dan berkualiti tinggi. Sesetengah pangkalan data mungkin lebih tepat daripada yang lain bergantung pada sama ada ia dikemas kini setiap hari, mingguan, bulanan atau suku tahunan. Selanjutnya, kejayaan carian akan bergantung sebahagiannya pada seberapa komprehensif pangkalan data. Walaupun dalam senario terbaik, pangkalan data mungkin hanya meliputi kira-kira 80% daripada penduduk sesebuah negara.

##Sorotan

- eIDV menggunakan sumber data awam dan peribadi untuk memadankan individu berdasarkan beberapa kriteria termasuk nama, jantina, alamat, tarikh lahir dan sebagainya.

- eIDV semakin digunakan dalam industri kewangan oleh penguatkuasa undang-undang untuk mengesan dan mencegah jenayah kewangan dan untuk memerangi keganasan. Ia juga digunakan oleh sektor swasta oleh penanggung insurans, broker barang, dan ejen pengambilan pekerja, antara lain.

- eIDV bermaksud Pengesahan Identiti Elektronik, yang merujuk secara meluas kepada sistem berkomputer untuk pengesahan ID individu.

