---
keywords: Investing,Laws and Regulations,Cybersecurity
title: Pengesahan Pihak Ketiga (TPV)
description: Sebuah syarikat boleh menggunakan organisasi luar untuk melakukan pengesahan pihak ketiga (TPV) untuk menyemak dan mengesahkan maklumat pelanggan dan memastikan ketepatan.
---

# Pengesahan Pihak Ketiga (TPV)
## Apakah Pengesahan Pihak Ketiga (TPV)?

Sebuah syarikat boleh menggunakan organisasi luar untuk melakukan pengesahan pihak ketiga (TPV) untuk menyemak dan mengesahkan maklumat dan niat pelanggan dan dengan itu memastikan ketepatan. Pengesahan pihak ketiga digunakan dengan jabatan jualan untuk mengesahkan bahawa bakal pelanggan mempunyai minat atau bersetuju untuk membeli produk sebelum menyerahkan semula pelanggan atau kepada jurujual. TPV juga digunakan dalam situasi di mana pelanggan ingin memberikan atau mengemas kini maklumat tetapi tidak dapat menghantar kontrak atau salinan fizikal maklumat tersebut dengan mudah kerana kemas kini berlaku melalui telefon atau dalam talian.

## Memahami Pengesahan Pihak Ketiga (TPV)

Pengesahan pihak ketiga membolehkan syarikat merujuk kepada ketiga sejarah interaksi yang dikekalkan oleh pihak bebas sekiranya pelanggan mendakwa bahawa mereka tidak membenarkan pertukaran atau transaksi akaun berlaku. Untuk keluar daripada proses pengesahan, pelanggan mesti bersetuju untuk bersetuju dengan transaksi yang akan berlaku, yang menunjukkan bahawa perjanjian itu mengikat di sisi undang-undang.

Pengesahan pihak ketiga kadangkala diperlukan oleh undang-undang, terutamanya dengan peningkatan pengawasan keselamatan Internet dan [senarai telefon jangan panggil](/telemarketing). Contohnya, sebarang perubahan kepada telekom atau utiliti (seperti perkhidmatan elektrik atau gas) memerlukan TPV mengikut Suruhanjaya Perdagangan Persekutuan.

Pada masa kini, pengesahan pihak ketiga ialah proses standard untuk sebarang transaksi yang berlaku melalui telefon atau dalam format digital di mana tandatangan atau pengesahan tidak dapat dijamin. Pada 2018, Suruhanjaya Komunikasi Ketiga Persekutuan meluluskan peraturan baharu untuk mengukuhkan proses TPVnya selepas terdapat dakwaan mengenai panggilan yang salah nyata dan proses kelulusan pihak yang menipu.

## Contoh Pengesahan Pihak Ketiga (TPV)

Contoh pengesahan pihak ketiga ialah apabila pelanggan bercakap dengan wakil jualan televisyen kabel untuk membuat perubahan pada rancangan. Selepas menyemak pilihan dan menentukan bahawa pelanggan ingin meneruskan, dan akan menerima kontrak baharu untuk satu tempoh masa, wakil jualan akan berbincang dengan pihak ketiga. TPV mungkin hanya perkhidmatan rakaman bermasa dan dijejaki yang merupakan entiti yang berasingan daripada syarikat kabel. Wakil jualan kemudian akan menyemak perubahan dan maklumat peribadi pelanggan dan meminta mereka secara lisan bersetuju dengan kontrak baharu pada talian yang direkodkan.

##Sorotan

- TPV membenarkan syarikat merujuk sejarah interaksi ketiga yang dikekalkan oleh pihak bebas sekiranya pelanggan mendakwa bahawa mereka tidak membenarkan pertukaran akaun atau transaksi berlaku.

- Pengesahan pihak ketiga (TPV) ialah apabila syarikat menggunakan organisasi luar untuk menyemak dan mengesahkan maklumat dan niat pelanggan untuk memastikan ketepatan.

- TPV juga digunakan dalam situasi di mana pelanggan ingin memberikan atau mengemas kini maklumat tetapi tidak dapat menghantar kontrak atau salinan fizikal maklumat tersebut dengan mudah.

- Contoh TPV ialah apabila pelanggan bercakap dengan wakil jualan televisyen kabel untuk membuat perubahan pada pelan, yang mana TPV akan mengesahkan atau merekodkan.

- TPV kadangkala dikehendaki oleh undang-undang, terutamanya dengan peningkatan pengawasan keselamatan Internet dan senarai telefon jangan panggil.

